<div class="card" style="width: 400px;">
  <div class="card-body">
    <h5 *ngIf="showTitle" class="card-title">Accounts of user {{userName}}</h5>
    <div>
      <table *ngIf="totalBalancesPerCurrency.size > 0" class="card-subtitle mb-2 text-muted"
             style="margin-left: auto; margin-right: 10px">
        <tr>
          <td>Total balance:</td>
          <td style="text-align: right">{{firstEntry()[1] | number:'1.2-2'}}</td>
          <td style="text-align: left">{{firstEntry()[0]}}</td>
        </tr>
        <tr *ngFor="let entry of restOfEntries()">
          <td></td>
          <td style="text-align: right">{{entry[1] | number:'1.2-2'}}</td>
          <td style="text-align: left">{{entry[0]}}</td>
        </tr>
      </table>
    </div>
    <div #div (mouseleave)="setOverAccount(null, null)">
      <table #table class="card-text" style="width: 100%">
        <tr #row *ngFor="let account of accounts"
            (mouseenter)="setOverAccount(account, row)"
            class="account-row">
          <td>{{account.name}}</td>
          <td style="text-align: right">{{account.currentBalance | number:'1.2-2'}}</td>
          <td style="text-align: left">{{account.currency}}</td>
        </tr>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button *ngFor="let button of buttons" (click)="button.action(overElement)">
          {{button.name}}
        </button>
      </div>
    </div>
  </div>
</div>


