<div class="sg-flex-column">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Konta</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row sg-flex-justify-center">
          <div *ngIf="!isEditAccount && !showAccountDeletionConfirmation">
            <app-domain-accounts [bankAccountsAvailableToAssign]="bankAccountsAvailableToAssign"
                                 [adminMode]="true"
                                 (deleteAccountEvent)="deleteAccount($event)"
                                 (renameAccountEvent)="rename($event)"
                                 (changeAccountVisibilityEvent)="changeAccountVisibility($event)"
                                 (bankAccountAssignedEvent)="assignBankAccountToAnAccount($event)">
            </app-domain-accounts>

            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
            <button type="button" class="btn btn-primary" (click)="createAccount()">Nowe konto</button>
          </div>
          <div *ngIf="isEditAccount">
            <app-account-creator [entity]="accountToEdit"
                                 [currencies]="allCurrencies"
                                 (saveSubject)="saveAccount($event)"
                                 (cancelSubject)="closeEdit()">
            </app-account-creator>
          </div>
          <div *ngIf="showAccountDeletionConfirmation">
            <h4>Potwierdzenie</h4>
            <div>
              Na pewno chcesz usunąć konto '{{ accountBeingDeletedDescription }}'?
            </div>
            <div>
              <button type="button" class="btn btn-outline-dark" (click)="deleteAccountMethod()">Tak</button>
              <button type="button" class="btn btn-outline-dark" (click)="closeEdit()">Nie</button>
            </div>
          </div>
        </div>

        <div class="sg-flex-row sg-flex-justify-center" *ngIf="isAdmin() && otherDomains">
          <div class="sg-flex-column" *ngIf="otherDomains.length > 0">
            <app-domain-accounts *ngFor="let domain of otherDomains"
                                 [domain]="domain" [adminMode]="true">
            </app-domain-accounts>
            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
          </div>
          <div class="sg-flex-column" *ngIf="otherDomains.length === 0">
            <div>Brak kont</div>
            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Zarządzanie wydatkami</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row sg-flex-justify-center">
          <div class="sg-flex-column">
            <h5 class="sg-text-center">Kategorie</h5>
            <app-categories
              [categories]="categories"
              (createEvent)="createCategory($event)"
              (updateEvent)="updateCategory($event)"
            ></app-categories>
          </div>
          <div class="sg-flex-column sg-flex-align-stretch"
               *ngIf="accountantSettings && !accountantSettings.company">
            <h5 class="sg-text-center">Skarbonki</h5>
            <app-piggy-banks
              [adminMode]="true"
              [piggyBanks]="piggyBanks"
              [allCurrencies]="allCurrencies"
              (createEvent)="createPiggyBank($event)"
              (updateEvent)="updatePiggyBank($event)"
            ></app-piggy-banks>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem *ngIf="accountantSettings && accountantSettings.company">
      <a ngbNavLink>Firma</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row">
          <div class="sg-flex-column">
            <h5>Klienci</h5>
            <app-clients
              [clients]="clients"
              (createEvent)="createClient($event)"
              (updateEvent)="updateClient($event)"
            ></app-clients>
          </div>
          <div class="sg-flex-column">
            <h5>Usługi</h5>
            <app-services
              [services]="services"
              (createEvent)="createService($event)"
              (updateEvent)="updateService($event)"
            ></app-services>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Domeny</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row sg-flex-justify-center">
          <app-accountant-settings></app-accountant-settings>
          <div class="sg-flex-column">
            <h5 class="sg-text-center">Domeny</h5>
            <app-domains
              [adminMode]="true"
              [domains]="userDomains"
              [currentUserLogin]="currentUserLogin()"
              (createEvent)="createDomain($event)"
              (updateEvent)="updateDomain($event)"
              (changeUserAccessEvent)="changeDomainUserAccess($event)"
              (removeUserFromDomainEvent)="removeUserFromDomain($event)"
              (inviteUserToDomainEvent)="inviteUserToDomain($event)"
            ></app-domains>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem #bankAccess="ngbNavItem">
      <a ngbNavLink>Banki</a>
      <ng-template ngbNavContent>
        <nodrigen></nodrigen>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
