<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 99998;">

  <div class="navbar-brand bg-dark">
    <select *ngIf="availableApps && availableApps.length > 0" [(ngModel)]="selectedApp" class="navbar-brand bg-dark"
            style="border-color: #343a40">
      <option *ngFor="let app of availableApps" [value]="app.app">{{app.app}}</option>
    </select>
  </div>
  <div class="navbar-brand bg-dark">
    <select *ngIf="availableDomains"
            [(ngModel)]="loginService.currentDomainId" class="navbar-brand bg-dark"
            style="border-color: #343a40">
      <option *ngFor="let d of availableDomains" [value]="d.id">{{d.name}}</option>
    </select>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleMenuBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']">Logowanie</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/register/register']">Rejestracja</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/change-password/change-password']" *ngIf="!isLoggedIn">Zmiana hasła</a>
      </li>
      <li class="nav-item menu-element-normal" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/accountant-home']">Strona główna</a>
      </li>
      <li class="nav-item menu-element-small" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/accountant-home-small']">Strona główna</a>
      </li>
<!--      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">-->
<!--        <a class="nav-link" [routerLink]="['/holiday-currencies']">Waluty na wakacjach</a>-->
<!--      </li>-->
      <li class="nav-item menu-element-small" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/billing-small']">Okresy rozliczeniowe</a>
      </li>
      <li class="nav-item menu-element-small" [routerLinkActive]="['active']"
          *ngIf="isLoggedIn && isAccountant() && loginService.accountantSettings && !loginService.accountantSettings.company">
        <a class="nav-link" [routerLink]="['/piggy-banks-small']">Skarbonki</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/accounts-history']">Historia transakcji</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/charts']">Wykresy</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isAccountant()">
        <a class="nav-link" [routerLink]="['/settings']">Ustawienia</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isSYR()">
        <a class="nav-link" [routerLink]="['/syr-home']">Raporty</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn && isSYRAdmin()">
        <a class="nav-link" [routerLink]="['/syr-admin']">Zarządzanie</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['cubes-home']" *ngIf="isLoggedIn && isCubesApp()">
        <a class="nav-link" [routerLink]="['/cubes-home']">Kostki</a>
      </li>
      <li class="nav-item menu-element-small" *ngIf="isLoggedIn">
        <div class="nav-link">--------</div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/change-password/change-password']" *ngIf="isLoggedIn">Zmiana hasła</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Wylogowanie {{loginService.getUserName()}}</a>
      </li>
    </ul>
  </div>
</nav>
<app-toasts aria-live="polite" aria-atomic="true" style="top: 60px !important;"></app-toasts>
<app-domain-invitations
  [invitations]="invitations"
  (acceptInvitationEvent)="acceptInvitation($event)"
  (rejectInvitationEvent)="rejectInvitation($event)"
></app-domain-invitations>
