<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="../../../../assets/images/avatar_2x.png" alt=""/>
    <form class="form-signin" *ngIf="isRegister() && qrUrl === null" (ngSubmit)="registerUser()" #registerForm="ngForm">
      <input type="text" id="uname" class="form-control" name="uname" #uname="ngModel" [(ngModel)]="userObject.uname"
             placeholder="Nazwa użytkownika" title="Wprowadź nazwę użytkownika używaną do logowania" autocomplete="off"
             required autofocus>
      <input type="password" id="upass" class="form-control" name="upass" placeholder="Hasło"
             title="Wprowadź hasło używane do logowania" #upass="ngModel" autocomplete="off"
             [(ngModel)]="userObject.upass"
             required>
      <input type="password" id="confirmpass" class="form-control" name="confirmpass" placeholder="Powtórzenie hasła"
             title="Wprowadź ponownie to samo hasło w celu wykluczenia pomyłki" #uconfirmpass="ngModel"
             autocomplete="off" [(ngModel)]="confirmPass"
             required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
              [disabled]="!validate2(uname, upass, uconfirmpass)">
        Załóż konto
      </button>
    </form>
    <p *ngIf="isRegister() && qrUrl === null" style="text-align:center;">Masz już konto?
      <a [routerLink]="['/login']">Zaloguj się tutaj</a>
    </p>
    <form class="form-signin" *ngIf="isRegister() && qrUrl !== null" (ngSubmit)="setup2FA()" #confirmTokenForm="ngForm">
      <img class="qr-code-img" [src]="qrUrl" alt=""/>
      <input type="password" id="token" class="form-control" name="token"
             placeholder="Zeskanuj kod QR i przepisz hasło"
             title="Wpisz hasło OTP odczytane z aplikacji do uwierzytelniania dwuetapowego" #secretTo2FA="ngModel"
             [(ngModel)]="userObject.secretFor2FA">
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
              [disabled]="secretTo2FA?.errors !== null">
        Wprowadź OTP
      </button>
    </form>
    <form class="form-signin" *ngIf="isChangePassword()" (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
      <input type="text" id="unameToChange" class="form-control" name="uname" #uname="ngModel"
             [(ngModel)]="changePasswordObject.uname"
             placeholder="Nazwa użytkownika" title="Wprowadź nazwę użytkownika używaną do logowania" autocomplete="off"
             required autofocus>
      <input type="password" id="oldUpass" class="form-control" name="upass" placeholder="Hasło"
             title="Wprowadź hasło używane do tej pory do logowania" #upass="ngModel" autocomplete="off"
             [(ngModel)]="changePasswordObject.oldpass"
             required>
      <input type="text" id="authcode" class="form-control" name="authcode" autocomplete="off"
             #authcode="ngModel" [(ngModel)]="changePasswordObject.authcode" placeholder="Hasło OTP"
             title="Wpisz hasło OTP odczytane z aplikacji do uwierzytelniania dwuetapowego" required>
      <input type="password" id="newUpass" class="form-control" name="newpass" placeholder="Nowe hasło"
             title="Wprowadź nowe hasło" #newpass="ngModel" autocomplete="off"
             [(ngModel)]="changePasswordObject.newpass"
             required>
      <input type="password" id="newUpassConfirmation" class="form-control" name="confirmnewpass"
             placeholder="Potwierdzenie nowgo hasła"
             title="Wprowadź ponownie to samo hasło w celu wykluczenia pomyłki" #uconfirmnewpass="ngModel"
             autocomplete="off"
             [(ngModel)]="confirmNewPass"
             required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
              [disabled]="!validate(uname, upass, newpass, uconfirmnewpass, authcode, newpass)">
        Zmień
      </button>
    </form>
    <p class="text-success" style="text-align:center;" *ngIf="message">{{message}}</p>
  </div>
</div>
