<div *ngIf="account && !transferCreationMode">
  <div class="month-navigation sg-flex-row sg-flex-justify-space-between">
    <div class="sg-flex-auto">
      <button *ngIf="prevMonthToDisplay" (click)="goBackInHistory()" class="btn btn-link btn-small">
        {{prevMonthToDisplay | localizedDate: "LLLL'\'yy"}}
      </button>
    </div>
    <div class="sg-flex-auto sg-flex-column sg-flex-align-center sg-flex-justify-center">
      <h6>{{displayingMonth | localizedDate: "LLLL'\'yy"}}</h6>
    </div>
    <div class="sg-flex-auto">
      <button *ngIf="prevMonthToDisplay" (click)="goForwardInHistory()" class="btn btn-link btn-small">
        {{nextMonthToDisplay | localizedDate: "LLLL'\'yy"}}
      </button>
    </div>
  </div>

  <table>
    <ng-container *ngFor="let transaction of displayingTransactions">
      <tr #row
          (click)="selectTransaction(transaction)"
          [class.sg-row-selected]="selectedTransaction && transaction.id === selectedTransaction.id"
          class="sg-row-hoverable">
        <td>{{transaction.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
        <td *ngIf="transaction.source.id === account.id" class="money-cell">
          -{{transaction.debit | currency: transaction.source.currency}}
        </td>
        <td *ngIf="transaction.destination.id === account.id" class="money-cell">
          {{transaction.credit | currency: transaction.destination.currency}}
        </td>
        <td [innerHTML]="transaction.description | htmlNewLine" class="description-cell"></td>
      </tr>
      <tr *ngIf="showActionRow(transaction)">
        <td class="action-cell" colspan="3">
          <button (click)="openPredefinedTransferCreationDialog(selectedTransaction!)"
                  class="btn btn-link btn-small">
            Przekaż te pieniądze na inne konto
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <button (click)="openIncomeCreationDialog()" class="btn btn-outline-primary">Uznanie</button>
  <button (click)="openExpenseCreationDialog()" class="btn btn-outline-primary">Obciążenie</button>
  <button (click)="openTransferCreationDialog()" class="btn btn-outline-primary">Transfer wewnętrzny</button>
</div>

<div *ngIf="account && transferCreationMode">
  <app-create-transaction
    [account]="account"
    [targetAccounts]="accountsToSelect"
    [transactionType]="creatingTransactionType"
    [amount]="creatingTransactionAmount"
    [description]="creatingTransactionFieldDescription"
    (finishSubject)="editCompleted($event)">
  </app-create-transaction>
</div>
