<div *ngIf="selectedTransactionToImport && matchingCandidates.length > 0">

  <div class="sg-flex-column" *ngIf="account">
    <div class="sg-flex-row">
      <div>
        <div *ngFor="let matchingCandidate of matchingCandidates" style="margin-right: 30px"
             (click)="selectMatchingCandidate(matchingCandidate)"
             [class.sg-row-selected]="selectedMatchingCandidate && matchingCandidate.id === selectedMatchingCandidate.id"
             class="sg-row-hoverable">
          <td>{{matchingCandidate.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
          <td *ngIf="matchingCandidate.source.id === account.id" class="money-cell">
            -{{matchingCandidate.debit | currency: matchingCandidate.source.currency}}
          </td>
          <td *ngIf="matchingCandidate.destination.id === account.id" class="money-cell">
            {{matchingCandidate.credit | currency: matchingCandidate.destination.currency}}
          </td>
          <td [innerHTML]="matchingCandidate.description | htmlNewLine" class="description-cell"></td>
        </div>
      </div>
      <div class="sg-flex-column">
        <div class="sg-row-hoverable sg-row-selected">
          <td>{{selectedTransactionToImport.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
          <td *ngIf="selectedTransactionToImport.sourceId === account.id" class="money-cell">
            -{{selectedTransactionToImport.debit | currency: account.currency}}
          </td>
          <td *ngIf="selectedTransactionToImport.destinationId === account.id" class="money-cell">
            {{selectedTransactionToImport.credit | currency: account.currency}}
          </td>
          <td [innerHTML]="selectedTransactionToImport.description | htmlNewLine" class="description-cell"></td>
        </div>
        <div class="sg-flex-column" style="border: #343a40 dashed thin">
          <div *ngFor="let candidate of matchingCandidatesForInternalTransfers"
               (click)="selectMatchingCandidateForInternalTransfers(candidate)"
               [class.sg-row-selected]="selectedMatchingCandidateForInternalTransfers && candidate.id === selectedMatchingCandidateForInternalTransfers.id"
               class="sg-row-hoverable">
            <td>{{candidate.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
            <td *ngIf="selectedTransactionToImport.sourceId === account.id" class="money-cell">
              {{candidate.credit | currency: account.currency}}
            </td>
            <td *ngIf="selectedTransactionToImport.destinationId === account.id" class="money-cell">
              {{candidate.debit | currency: account.currency}}
            </td>
            <td [innerHTML]="candidate.description | htmlNewLine" class="description-cell"></td>
          </div>
        </div>
      </div>
    </div>
    <div class="sg-flex-justify-flex-end">
      <button *ngIf="selectedMatchingCandidate && selectedTransactionToImport && selectedTransactionToImport.credit > 0 && selectedTransactionToImport.debit == 0
                      && selectedMatchingCandidate.credit > 0 && selectedMatchingCandidate.debit == 0"
              (click)="matchAsCredit()" class="btn btn-outline-primary">Uznanie
      </button>
      <button *ngIf="selectedMatchingCandidate && selectedTransactionToImport && selectedTransactionToImport.debit > 0 && selectedTransactionToImport.credit == 0
                      && selectedMatchingCandidate.debit > 0 && selectedMatchingCandidate.credit == 0"
              (click)="matchAsDebit()" class="btn btn-outline-primary">Obciążenie
      </button>
      <button *ngIf="internalTransferCanBePerformed()"
              (click)="matchInternalTransfer()"
              class="btn btn-outline-primary">Transfer wewnętrzny
      </button>
      <button
        (click)="cancelMatching()"
        class="btn btn-outline-primary">Anuluj
      </button>
    </div>
  </div>
</div>


<div *ngIf="account && !transferCreationMode && !(selectedTransactionToImport && matchingCandidates.length > 0)">
  <div class="month-navigation sg-flex-row sg-flex-justify-space-between">
    <div class="sg-flex-auto">
      <button *ngIf="prevMonthToDisplay" (click)="goBackInHistory()" class="btn btn-link btn-small">
        {{prevMonthToDisplay | localizedDate: "LLLL'\'yy"}}
      </button>
    </div>
    <div class="sg-flex-auto sg-flex-column sg-flex-align-center sg-flex-justify-center">
      <h6>{{displayingMonth | localizedDate: "LLLL'\'yy"}}</h6>
    </div>
    <div class="sg-flex-auto">
      <button *ngIf="prevMonthToDisplay" (click)="goForwardInHistory()" class="btn btn-link btn-small">
        {{nextMonthToDisplay | localizedDate: "LLLL'\'yy"}}
      </button>
    </div>
  </div>

  <div class="sg-flex-row">
    <div>
      <table>
        <ng-container *ngFor="let transaction of displayingTransactions">
          <tr #row
              (click)="selectTransaction(transaction)"
              [class.sg-row-selected]="selectedTransaction && transaction.id === selectedTransaction.id"
              class="sg-row-hoverable">
            <td>{{transaction.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
            <td *ngIf="transaction.source.id === account.id" class="money-cell">
              -{{transaction.debit | currency: transaction.source.currency}}
            </td>
            <td *ngIf="transaction.destination.id === account.id" class="money-cell">
              {{transaction.credit | currency: transaction.destination.currency}}
            </td>
            <td [innerHTML]="transaction.description | htmlNewLine" class="description-cell"></td>
          </tr>
          <tr *ngIf="showActionRow(transaction)">
            <td class="action-cell" colspan="3">
              <button (click)="openPredefinedTransferCreationDialog(selectedTransaction!)"
                      class="btn btn-link btn-small">
                Przekaż te pieniądze na inne konto
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
      <button (click)="openIncomeCreationDialog()" class="btn btn-outline-primary">Uznanie</button>
      <button (click)="openExpenseCreationDialog()" class="btn btn-outline-primary">Obciążenie</button>
      <button (click)="openTransferCreationDialog()" class="btn btn-outline-primary">Transfer wewnętrzny</button>
    </div>
    <div>
      <table>
        <ng-container *ngFor="let transactionToImport of displayingTransactionsToImport">
          <tr #row
              (click)="selectTransactionToImport(transactionToImport)"
              [class.sg-row-selected]="selectedTransactionToImport && transactionToImport.id === selectedTransactionToImport.id"
              class="sg-row-hoverable">
            <td>{{transactionToImport.timeOfTransaction | localizedDate:'y-MM-dd'}}</td>
            <td *ngIf="transactionToImport.sourceId === account.id" class="money-cell">
              -{{transactionToImport.debit | currency: account.currency}}
            </td>
            <td *ngIf="transactionToImport.destinationId === account.id" class="money-cell">
              {{transactionToImport.credit | currency: account.currency}}
            </td>
            <td [innerHTML]="transactionToImport.description | htmlNewLine" class="description-cell"></td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>

<div *ngIf="account && transferCreationMode">
  <app-create-transaction
    [account]="account"
    [targetAccounts]="accountsToSelect"
    [transactionType]="creatingTransactionType"
    [amount]="creatingTransactionAmount"
    [description]="creatingTransactionFieldDescription"
    (finishSubject)="editCompleted($event)">
  </app-create-transaction>
</div>
