<div *ngIf="this.loggedIn()" class="sg-flex-column">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Twoje konta</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row sg-flex-justify-center">
          <div *ngIf="!isEditAccount && !showAccountDeletionConfirmation">
            <app-user-accounts [userName]="loginService.getUserName()"
                               [accounts]="userAccounts"
                               [buttons]="[{name: 'delete', action:deleteAccount(this)}, {name: 'rename', action:rename(this)}]">
            </app-user-accounts>

            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
            <button type="button" class="btn btn-primary" (click)="createAccount()">Nowe konto</button>
          </div>
          <div *ngIf="isEditAccount">
            <app-account-creator [mode]="mode"
                                 [entity]="accountToEdit"
                                 [currencies]="allCurrencies"
                                 (createSubject)="createAccountMethod($event)"
                                 (updateSubject)="updateAccountMethod($event)"
                                 (cancelSubject)="closeEdit()">
            </app-account-creator>
          </div>
          <div *ngIf="showAccountDeletionConfirmation">
            <h4>Potwierdzenie</h4>
            <div>
              Na pewno chcesz usunąć konto '{{ accountBeingDeletedDescription }}'?
            </div>
            <div>
              <button type="button" class="btn btn-outline-dark" (click)="deleteAccountMethod()">Tak</button>
              <button type="button" class="btn btn-outline-dark" (click)="closeEdit()">Nie</button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem *ngIf="isAdmin() && othersAccounts">
      <a ngbNavLink>Konta innych użytkowników</a>
      <ng-template ngbNavContent>
        <div class="sg-flex-row sg-flex-justify-center">
          <div class="sg-flex-column" *ngIf="othersAccounts.size > 0">
            <app-user-accounts *ngFor="let user of otherUsers"
                               [userName]="user"
                               [accounts]="othersAccounts.get(user)">
            </app-user-accounts>
            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
          </div>
          <div class="sg-flex-column" *ngIf="othersAccounts.size === 0">
            <div>Brak kont</div>
            <button type="button" class="btn btn-primary" (click)="fetchData()">Odśwież</button>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Kategorie</a>
      <ng-template ngbNavContent>
        <app-categories
        [categories]="categories"
        (createEvent)="createCategory($event)"
        (updateEvent)="updateCategory($event)"
        ></app-categories>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Skarbonki</a>
      <ng-template ngbNavContent>
        <app-piggy-banks
          [adminMode]="true"
          [piggyBanks]="piggyBanks"
          [allCurrencies]="allCurrencies"
          (createEvent)="createPiggyBank($event)"
          (updateEvent)="updatePiggyBank($event)"

        ></app-piggy-banks>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
