.performed-service-row {
  border-top: black dashed thin;
}

thead > tr > td {
  text-align: center;
  font-weight: bold;
}

.paid-ps {
  background-color: #a2ff9b;
}

.not-paid-ps {
  background-color: #faafaf
}

.underpaid-ps {
  background-color: #fffec6;
}

.expanded-highlight-top {
  border-top: #343a40 solid 3px;
}

.expanded-highlight-sides {
  border-left: #343a40 solid 3px;
  border-right: #343a40 solid 3px;
}

.expanded-highlight-bottom {
  border-bottom: #343a40 solid 3px;
}
