.accounts-column {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}

.amounts-column {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}

.rate-column {
  max-width: 75px;
  width: 75px;
}

.date-column {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}

.description-row {
  width: 100%;
  border-bottom: #8e8e8e dashed thin;
}

.transaction-row > div:not(:first-child) {
  margin-left: 30px;
}
