<input *ngIf="readonly" type="text"
       [id]="id"
       [class]="inputClass"
       [ngModel]="readonlyValue"
       readonly
>
<input *ngIf="!readonly"
       [id]="id"
       type="text"
       [class]="inputClass"
       [(ngModel)]="value"
       [ngbTypeahead]="search"
       (focus)="focus.next($any($event).target.value)"
       (click)="click.next($any($event).target.value)"
       (blur)="propagateTouch(value)"
       #tTypeAhead="ngbTypeahead"
       [resultTemplate]="categoryLabel"
       [inputFormatter]="formatter"
/>
<ng-template #categoryLabel let-r="result" let-t="term">
  <ngb-highlight [result]="formatter(r)" [term]="t"></ngb-highlight>
</ng-template>
