<div class="sg-flex-row sg-flex-justify-center" *ngIf="accounts && accounts.length > 0">
  <div style="padding:10px; width: 320px;" class="sg-flex-column">
    <h5 *ngIf="showTitle && domain" style="text-align: center">Konta w domenie {{domain.name}}</h5>
    <h5 *ngIf="showTitle && !domain" style="text-align: center">Konta w bieżącej domenie</h5>
    <div style="margin-left: auto; margin-right: 10px; width: 65%">
      <app-multi-currency-total
        class="mb-2 text-muted"
        [title]="'Suma:'"
        [values]="totalBalancesPerCurrency">

      </app-multi-currency-total>
    </div>
    <table #table style="width: 100%">
      <tr *ngIf="adminMode">
        <th style="padding-right: 10px">Nazwa</th>
        <th style="padding-right: 10px">Widoczne</th>
        <th style="padding-right: 10px">Saldo</th>
        <th style="padding-right: 10px">Powiązane konto bankowe</th>
      </tr>
      <ng-container *ngFor="let account of accounts">
        <tr #row (click)="select(account);"
            class="domain-row sg-row-hoverable" [class.selected]="account === selectedAccount">
          <td>{{account.name}}</td>
          <td *ngIf="adminMode">
            <input type="checkbox" [ngModel]="account.visible" disabled>
          </td>
          <td style="text-align: right">{{account.currentBalance | currency: account.currency :undefined:'1.2-2' }}</td>
          <td *ngIf="adminMode" style="text-align: right"><span
            *ngIf="account.bankAccount">{{account.bankAccount.iban}} {{account.bankAccount.bic}}</span></td>
        </tr>
        <ng-container *ngIf="account === selectedAccount && adminMode">
          <tr class="selected">
            <td colspan="4" style="text-align: right">
              <select *ngIf="!selectedAccount.bankAccount && bankAccountsAvailableToAssign.length > 0"
                      [(ngModel)]="selectedBankAccount">
                <option *ngFor="let bankAccount of bankAccountsAvailableToAssign"
                        [ngValue]="bankAccount">{{bankAccount.iban}} - {{bankAccount.currency}}</option>
              </select>
              <button class="btn btn-link btn-sm"
                      (click)="deleteAccountEvent.emit(selectedAccount)">usuń
              </button>
              <button class="btn btn-link btn-sm"
                      (click)="editAccountEvent.emit(selectedAccount)">edytuj
              </button>
              <button class="btn btn-link btn-sm" *ngIf="selectedAccount && !selectedAccount.visible || false"
                      (click)="changeAccountVisibilityEvent.emit(selectedAccount)">pokaż
              </button>
              <button class="btn btn-link btn-sm" *ngIf="selectedAccount && selectedAccount.visible || false"
                      (click)="changeAccountVisibilityEvent.emit(selectedAccount)">ukryj
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>

