<div *ngIf="entity" class="creating-account-main">
  <h5>Wprowadź dane nowego konta</h5>
  <form #createAccountForm="ngForm">
    <div class="form-group row">
      <label for="accountName" class="col-2 col-form-label">Nazwa</label>
      <div class="col-10">
        <input id="accountName" name="accountName" type="text" class="form-control" placeholder="Nazwa konta"
               #accountName="ngModel" [(ngModel)]="entity.name" required autofocus>
      </div>
    </div>
    <div class="form-group row">
      <label for="accountCurrency" class="col-2 col-form-label">Waluta</label>
      <div class="col-10">
        <app-general-typeahead
          [id]="'accountCurrency'"
          name="accountCurrency"
          [inputClass]="'form-control'"
          [readonly]="isEditMode()" [class.form-control-plaintext]="isEditMode()"
          [(ngModel)]="currency"
          [dataProvider]="currenciesForTypeAhead()"
          #accountCurrency="ngModel"
          required>
        </app-general-typeahead>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <button type="button" class="btn btn-outline-dark" (click)="saveAccount()"
                [disabled]="accountName?.errors?.['required'] || accountCurrency?.errors?.['required']">
          <span *ngIf="!isEditMode()">Stwórz</span>
          <span *ngIf="isEditMode()">Zapisz</span>
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="cancel()">Anuluj</button>
      </div>
    </div>
  </form>
</div>
