<ng-template [ngTemplateOutlet]="list" *ngIf="!transactionToImport">

</ng-template>
<ng-template [ngTemplateOutlet]="importPart" *ngIf="transactionToImport && !importMode">

</ng-template>
<ng-template [ngTemplateOutlet]="createCreditDebit"
             *ngIf="transactionToImport && (importMode === 'DEBIT' || importMode === 'CREDIT')">

</ng-template>

<ng-template [ngTemplateOutlet]="createTransfer"
             *ngIf="transactionToImport && otherTransactionForTransfer && (importMode === 'TRANSFER' || importMode === 'TRANSFER_WITH_CONVERSION')">

</ng-template>

<ng-template [ngTemplateOutlet]="createCashWithdrawal"
             *ngIf="transactionToImport && (importMode === 'CASH_WITHDRAWAL')">

</ng-template>
<ng-template [ngTemplateOutlet]="mutuallyCancelTransactions"
             *ngIf="transactionToImport && otherTransactionForTransfer && (importMode === 'MUTUALLY_CANCELLING')">

</ng-template>

<ng-template #list>
  <ng-container *ngIf="transactionsToImport.length > 0">
    <h4>Nowe transakcje z banku do zaimportowania</h4>

    <ng-container *ngFor="let transactionToImport of transactionsToImport">
      <app-transactions-row [transactionToImport]="transactionToImport" (click)="select(transactionToImport)"
                            class="sg-row-hoverable">

      </app-transactions-row>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #importPart>
  <div class="sg-flex-column">
    <h5 class="sg-flex-justify-self-center">Importujesz następującą transakcję</h5>
    <app-transactions-row [transactionToImport]="transactionToImport"></app-transactions-row>
    <div class="sg-flex-justify-flex-end">
      <button class="btn btn-link btn-small" (click)="transactionToImport = null">Anuluj</button>
    </div>

    <h6>Powyższą transakcję można zaimportować jako:</h6>
    <div *ngIf="transactionMayBeDebit(transactionToImport)"
         (click)="importMode = 'DEBIT'">
      Wydatek
    </div>
    <div *ngIf="transactionMayBeDebit(transactionToImport)"
         (click)="importMode = 'CASH_WITHDRAWAL'">
      Wypłata gotówkowa
    </div>
    <div *ngIf="transactionMayBeCredit(transactionToImport)"
         (click)="importMode = 'CREDIT'">
      Dochód
    </div>
    <div *ngIf="transactionMayBeTransfer(transactionToImport)"
         (click)="importMode = 'TRANSFER'">
      Przekaz wewnętrzny
    </div>
    <div *ngIf="transactionMayBeTransferWithConversion(transactionToImport)"
         (click)="importMode = 'TRANSFER_WITH_CONVERSION'">
      Przekaz wewnętrzny z wymianą walut
    </div>
    <div *ngIf="transactionMayBeMutuallyCancellation(transactionToImport)"
         (click)="importMode = 'MUTUALLY_CANCELLING'">
      Transakcje znoszące się
    </div>

  </div>
</ng-template>

<ng-template #createCreditDebit>
  <div class="sg-flex-column">
    <app-create-billing-element class="sg-flex-column"
                                [elementType]="importMode === 'DEBIT' ? 'expense' : 'income'"
                                [billingElement]="elementToCreate"
                                [account]="getAccountForBillingElement()"
                                (editEvent)="createElement($event[0], $event[1], $event[2])"
    ></app-create-billing-element>

  </div>
</ng-template>

<ng-template #createTransfer>
  <app-create-transaction *ngIf="transactionToImport && otherTransactionForTransfer && transactionToCreateType"
                          [sourceAccount]="transactionToImport.sourceAccount"
                          [destinationAccount]="otherTransactionForTransfer.destinationAccount"
                          [involvedBankTransactions]="[transactionToImport.debitNodrigenTransactionId, otherTransactionForTransfer.creditNodrigenTransactionId]"
                          [transactionType]="transactionToCreateType"
                          [amount]="transactionToImport.debit"
                          [description]="transactionToImport.description"
                          [conversionRate]="conversionRate">
  </app-create-transaction>
</ng-template>

<ng-template #createCashWithdrawal>
  <app-create-transaction *ngIf="transactionToImport && !otherTransactionForTransfer && transactionToCreateType"
                          [sourceAccount]="transactionToImport.sourceAccount"
                          [destinationAccounts]="cashAccounts"
                          [involvedBankTransactions]="[transactionToImport.debitNodrigenTransactionId]"
                          [transactionType]="transactionToCreateType"
                          [amount]="transactionToImport.debit"
                          [description]="transactionToImport.description">
  </app-create-transaction>
</ng-template>

<ng-template #mutuallyCancelTransactions>
  <app-transactions-row [transactionToImport]="transactionToImport"></app-transactions-row>
  <app-transactions-row [transactionToImport]="otherTransactionForTransfer"></app-transactions-row>
  <button class="btn btn-sm btn-link" (click)="clearImport()">Cofnij</button>
  <button class="btn btn-sm btn-link" (click)="mutuallyCancelBothTransactions()">Anuluj wzajemnie</button>
</ng-template>
