td:first-child{
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}
td:nth-child(2){
  max-width: 100px;
}
td:nth-child(3){
  max-width: 75px;
}
td:last-child{
  width: 100%;
}
td:not(:first-child) {
  margin-left: 30px;
}
tr:not(:first-child) {
  border-top: #343a40 dashed thin;
}
