<div class="sg-flex-charts">
  <div *ngIf="savingsLineChart" class="sg-chart">
    <canvas baseChart #savingsChart='base-chart'
            [data]="savingsLineChart.lineChartData"
            [options]="savingsLineChart.lineChartOptions"
            [type]="'line'">

    </canvas>
  </div>
  <div *ngIf="piggyBanksLineChart" class="sg-chart">
    <div class="sg-flex-row">
      <button (click)="hideAllPiggyBanksDataSets()" class="btn btn-outline-primary" style="width: 50%;">Ukryj wszystkie wykresy</button>
      <button (click)="showAllPiggyBanksDataSets()" class="btn btn-outline-primary" style="width: 50%;">Pokaż wszystkie wykresy</button>
    </div>
    <canvas baseChart #piggyBanksChart='base-chart'
            [data]="piggyBanksLineChart.lineChartData"
            [options]="piggyBanksLineChart.lineChartOptions"
            [type]="'line'">

    </canvas>
  </div>
</div>
