<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="../../../../assets/images/avatar_2x.png"/>
    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
      <input type="text" id="user" class="form-control" name="user" autocomplete="off" #uname="ngModel"
             [(ngModel)]="userObject.uname" placeholder="Nazwa użytkownika" title="Wprowadź nazwę użytkownika" required autofocus>
      <input type="password" id="pass" class="form-control" name="pass" autocomplete="off" #upass="ngModel"
             [(ngModel)]="userObject.upass" placeholder="Hasło" title="Wprowadź hasło" required>
      <input type="tel" id="approvals_code" class="form-control" name="approvals_code" autocomplete="off"
             #authcode="ngModel" [(ngModel)]="userObject.authcode" placeholder="Hasło OTP"
             title="Wpisz hasło OTP odczytane z aplikacji do uwierzytelniania dwuetapowego" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
              [disabled]="!validate(uname, upass, authcode)">
        Sign in
      </button>
      <p style="text-align:center;">Nie masz jeszcze konta? <a [routerLink]="['/register']">Zarejestruj się tutaj</a></p>
      <p class="text-danger" style="text-align:center;" *ngIf="message">{{message}}</p>
    </form>
  </div>
</div>
