<div class="content">

  <div class="btn-group element">

    <input type="radio" class="btn-check" name="info" id="info" autocomplete="off" (click)="viewMode = 'INFO'"
           [checked]="viewMode === 'INFO'">
    <label class="btn btn-outline-primary" for="info">Dane o kredycie</label>

    <input type="radio" class="btn-check" name="config" id="config" autocomplete="off" (click)="viewMode = 'CONFIG'"
           [checked]="viewMode === 'CONFIG'">
    <label class="btn btn-outline-primary" for="config">Konfiguracja</label>

    <input type="radio" class="btn-check" name="source" id="source" autocomplete="off" (click)="viewMode = 'SOURCE'"
           [checked]="viewMode === 'SOURCE'">
    <label class="btn btn-outline-primary" for="source">Źródło</label>
  </div>
  <div [ngSwitch]="viewMode" class="element">
    <div *ngSwitchCase="'CONFIG'" [ngTemplateOutlet]="configSection"></div>
    <div *ngSwitchCase="'INFO'" [ngTemplateOutlet]="infoSection"></div>
    <div *ngSwitchCase="'SOURCE'" [ngTemplateOutlet]="sourceSection"></div>
  </div>
  <div class="element">
    <div *ngFor="let installment of mortgageInstallments; let i = index" class="sg-flex-row installments">
      <div>{{i + 1}}</div>
      <div class="sg-flex-column">
        <div class="sg-flex-align-self-center">Rata za okres {{ installment.paymentFrom | date: 'yyyy-MM-dd'}}
          - {{ installment.paymentTo | date: 'yyyy-MM-dd'}}</div>
        <div class="sg-flex-row">
          <b>Rata: {{ installment.installment.toString() | currency: currency}}
            = {{ installment.repaidCapital.toString() | currency: currency}}
            + {{ installment.paidInterest.toString() | currency: currency}}</b>
        </div>
        <div class="sg-flex-row">
          Nadpłata: {{ installment.overpayment.toString() | currency: currency}}
        </div>
        <div class="sg-flex-row">
          Pozostało do spłaty: {{ installment.remainingCapitalAtTheEnd.toString() | currency: currency}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #configSelectInput>
  <div class="col-auto">
    <select [(ngModel)]="selectedParamsConfig" class="form-select">
      <option *ngFor="let config of paramsConfigs" [selected]="selectedParamsConfig === config"
              [value]="config">{{config}}</option>
    </select>
  </div>
</ng-template>
<ng-template #configSection>
  <div class="row g-2 align-items-center">
    <ng-template [ngTemplateOutlet]="configSelectInput"></ng-template>
    <div class="col-auto">
      <button class="btn btn-link btn-sm" (click)="copyConfiguration()">kopiuj
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-link btn-sm" (click)="showConfigurationSource()">źródło
      </button>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="name" class="col-sm-2 col-form-label">Nazwa</label>
    <div class="col-auto">
      <input [(ngModel)]="selectedParamsConfigName" id="name" class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="amount" class="col-sm-2 col-form-label">Kwota</label>
    <div class="col-auto">
      <input [(ngModel)]="mortgageAmount" id="amount" type="number" step="0.01" class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="installmentsNumber" class="col-sm-2 col-form-label">Liczba rat</label>
    <div class="col-auto">
      <input [(ngModel)]="numberOfInstallments" id="installmentsNumber" type="number" step="1"
             class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="wibor" class="col-sm-2 col-form-label">Wibor</label>
    <div class="col-auto">
      <input [(ngModel)]="wibor" id="wibor" type="number" step="0.01" class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="rate" class="col-sm-2 col-form-label">Marża</label>
    <div class="col-auto">
      <input [(ngModel)]="rate" id="rate" type="number" step="0.01" class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="overpaymentMonthlyBudget" class="col-sm-2 col-form-label">Comiesięczny budżet</label>
    <div class="col-auto">
      <input [(ngModel)]="overpaymentMonthlyBudget" id="overpaymentMonthlyBudget" type="number" step="0.01"
             class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="overpaymentYearlyBudget" class="col-sm-2 col-form-label">Coroczny budżet</label>
    <div class="col-auto">
      <input [(ngModel)]="overpaymentYearlyBudget" id="overpaymentYearlyBudget" type="number" step="0.01"
             class="form-control"/>
    </div>
  </div>

  <div class="row g-2 align-items-center">
    <label for="dateOfElement" class="col-sm-2 col-form-label">Początek spłaty</label>
    <div class="col-sm-10">
      <input [(ngModel)]="repaymentStart"
             #datepicker="ngbDatepicker"
             (click)="datepicker.toggle()"
             id="dateOfElement"
             class="form-control"
             style="width: 150px"
             ngbDatepicker>
    </div>
  </div>
</ng-template>

<ng-template #infoSection>
  <ng-template [ngTemplateOutlet]="configSelectInput"></ng-template>
  <div><b>Sumaryczne informacje o kredycie:</b></div>
  <div><b>Kwota kredytu: </b> {{mortgageAmount.toString() | currency: currency}}</div>
  <div><b>Spłacono łącznie: </b> {{installmentsSum.toString() | currency: currency}}</div>
  <div><b>Spłacono odsetek: </b> {{paidInterestSum.toString() | currency: currency}}</div>
  <div><b>Czas spłaty: </b> {{mortgageInstallments.length}} miesięcy</div>
</ng-template>
<ng-template #sourceSection>
  <div>
    <textarea cols="75" rows="15" *ngIf="configurationSourceVisible" [(ngModel)]="configurationSource"></textarea>
  </div>
</ng-template>
