<div *ngIf="adminMode" class="row col-sm sg-flex-justify-center">
  <ng-container *ngTemplateOutlet="piggyBanksTemplate"></ng-container>
  <div style="margin-left: 20px">
    <app-multi-currency-total
      [title]="'Suma pieniędzy zgromadzonych w skarbonkach'"
      [values]="sumOfPiggyBanks"
    ></app-multi-currency-total>
    <app-multi-currency-total
      [title]="'Kwota comiesięcznego uzupełnienia skarbonek'"
      [values]="sumOfMonthlyTopUps"
    ></app-multi-currency-total>
  </div>
</div>
<div *ngIf="!adminMode">
  <ng-container *ngTemplateOutlet="piggyBanksTemplate"></ng-container>
</div>
<ng-template #piggyBanksTemplate>
  <div class="sg-flex-column">
    <h5 *ngIf="title" style="text-align: center">{{title}}</h5>
    <div (mouseleave)="setOverPiggyBank(null, null)" *ngIf="isNonEditMode()" class="sg-flex-row sg-flex-justify-center">
      <table>
        <thead>
        <tr>
          <td>Nazwa</td>
          <td>Saldo</td>
          <td *ngIf="adminMode">Oszędnościowe</td>
          <td *ngIf="adminMode">Miesięczne uznanie</td>
          <td *ngIf="adminMode">Opis</td>
        </tr>
        </thead>
        <tr *ngFor="let piggyBank of piggyBanks" #row (mouseenter)="setOverPiggyBank(piggyBank, row)"
            class="piggy-bank-row">
          <td>{{piggyBank.name}}</td>
          <td style="text-align:right">{{piggyBank.balance | currency: piggyBank.currency}}</td>
          <td *ngIf="adminMode" style="text-align:center">
            <input type="checkbox" [ngModel]="piggyBank.savings">
          </td>
          <td *ngIf="adminMode && piggyBank.monthlyTopUp"
              style="text-align:right">{{piggyBank.monthlyTopUp | currency: piggyBank.currency}}</td>
          <td *ngIf="adminMode && !piggyBank.monthlyTopUp"></td>
          <td *ngIf="adminMode" [innerHTML]="piggyBank.description | htmlNewLine"></td>
        </tr>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button (click)="prepareToTopUp()" class="btn btn-primary btn-sm">
          Uznaj
        </button>
        <button (click)="prepareToDebit()" class="btn btn-primary btn-sm">
          Obciąż
        </button>
        <button (click)="prepareToGeneralEdit()" *ngIf="this.adminMode" class="btn btn-primary btn-sm">
          Edytuj
        </button>
      </div>
    </div>

    <div *ngIf="isGeneralEditMode() || isCreateEditMode()">
      <div class="form-group sg-flex-row">
        <label for="name" class="col-2 col-form-label">Nazwa</label>
        <div class="col-10">
          <input id="name" name="name" type="name" class="form-control"
                 #name="ngModel"
                 [(ngModel)]="editElement.name"
                 required/>
        </div>
      </div>
      <div class="form-group sg-flex-row">
        <label for="description" class="col-2 col-form-label">Opis</label>
        <div class="col-10">
      <textarea id="description" name="description" type="description" class="form-control"
                #description="ngModel"
                [(ngModel)]="editElement.description"
                required>
      </textarea>
        </div>
      </div>
      <div class="form-group sg-flex-row" *ngIf="isCreateEditMode()">
        <label for="balance" class="col-2 col-form-label">Wartość</label>
        <div class="col-10">
          <input id="balance" name="balance" type="number" min=0 class="form-control"
                 #balance="ngModel" [(ngModel)]="editElement.balance" required/>
        </div>
      </div>
      <div class="form-group sg-flex-row" *ngIf="isCreateEditMode()">
        <label for="currency" class="col-2 col-form-label">Waluta</label>
        <div class="col-10">
          <app-general-typeahead
            id="currency"
            name="currency"
            [inputClass]="'form-control'"
            [readonly]="false"
            [(ngModel)]="editElement.currency"
            [dataProvider]="currenciesForTypeAhead()"
            [idExtractor]="currencyIdExtractor"
            [tToString]="currencyToString"
            #currency="ngModel"
            required>
          </app-general-typeahead>
        </div>
      </div>
      <div class="form-group sg-flex-row">
        <div class="custom-control custom-switch">
          <input id="savings" type="checkbox" class="custom-control-input" [(ngModel)]="editElement.savings">
          <label class="col-2 custom-control-label" for="savings">Oczędnościowa</label>
        </div>
      </div>
      <div class="form-group sg-flex-row" style="align-items: center">
        <div class="custom-control custom-switch col-2">
          <input type="checkbox" class="custom-control-input" id="monthlyTopUpEnabled"
                 [(ngModel)]="monthlyTopUpEnabled">
          <label class="custom-control-label" for="monthlyTopUpEnabled">Comiesięczne uznania</label>
        </div>
        <div class="col-9">
          <input class="form-control" id="monthlyTopUp" name="monthlyTopUpEnabled" type="number" min=0
                 *ngIf="monthlyTopUpEnabled" [(ngModel)]="editElement.monthlyTopUp" required/>
        </div>
        <div class="col-1">
          <span *ngIf="monthlyTopUpEnabled">{{getCurrencySymbol(editElement.currency)}}</span>
        </div>
      </div>
      <div class="form-group sg-flex-row" *ngIf="isGeneralEditMode()">
        <div class="custom-control custom-switch col-2">
          Wartość
        </div>
        <div class="col-9">
          {{editElement.balance | currency: editElement.currency}}
        </div>
      </div>
    </div>

    <div class="form-group sg-flex-row" *ngIf="isTopUpEditMode() || isDebitEditMode()">
      {{editElement.name}} - aktualnie: {{editElement.balance | currency: editElement.currency}}
    </div>

    <div class="form-group sg-flex-row" *ngIf="isTopUpEditMode()">
      <label for="topUp" class="col-2 col-form-label">Kwota</label>
      <div class="col-10">
        <input id="topUp" name="topUp" type="number" min=0 class="form-control"
               [(ngModel)]="operationAmount" required/>
      </div>
    </div>

    <div class="form-group sg-flex-row" *ngIf="isDebitEditMode()">
      <label for="debit" class="col-2 col-form-label">Kwota</label>
      <div class="col-10">
        <input id="debit" name="debit" type="number" max=0 class="form-control"
               [(ngModel)]="operationAmount" required/>
      </div>
    </div>

    <div class="form-group sg-flex-row" *ngIf="isTopUpEditMode()">
      Wartość po operacji: {{editElement.balance + operationAmount | currency: editElement.currency}}
    </div>

    <div class="form-group sg-flex-row" *ngIf="isDebitEditMode()">
      Wartość po operacji: {{editElement.balance - operationAmount | currency: editElement.currency}}
    </div>

    <div class="sg-flex-row sg-flex-justify-center">
      <button (click)="prepareToCreate()" *ngIf="this.adminMode && isNonEditMode()" class="btn btn-primary">Stwórz
      </button>
      <button (click)="topUp()" *ngIf="isTopUpEditMode()" class="btn btn-primary">Uznaj</button>
      <button (click)="debit()" *ngIf="isDebitEditMode()" class="btn btn-primary">Obciąż</button>
      <button *ngIf="isGeneralEditMode()" [disabled]="!canEdit()"
              (click)="update()" class="btn btn-primary">Zapisz
      </button>
      <button *ngIf="this.adminMode && isCreateEditMode()" [disabled]="!canCreate()"
              (click)="create()" class="btn btn-primary">Stwórz
      </button>
      <button (click)="resetEditForm()" *ngIf="!isNonEditMode()" class="btn btn-primary">Anuluj</button>
    </div>
  </div>
</ng-template>
