<div class="sg-flex-column creating-billing-element-main">
  <h5>Wprowadź szczegóły</h5>
  <form #createBillingElementForm="ngForm" class="needs-validation">

    <div class="form-group row">
      <label for="forAccount" class="col-3 col-form-label">Konto</label>
      <select id="forAccount" name="forAccount" class="form-control col-9"
              #forAccount="ngModel" [(ngModel)]="forAccountId" required ngbAutofocus>
        <option *ngFor="let account of userAccounts" [value]="account.id">{{account.name}}
          ({{account.currentBalance | currency:account.currency}})
        </option>
      </select>
    </div>

    <div *ngIf="forAccountId">
      <div class="form-group row">
        <label for="amount" class="col-3 col-form-label">Kwota</label>
        <input id="amount" name="amount" type="number" class="form-control col-7"
               #amount="ngModel"
               [(ngModel)]="billingElement.amount"
               min=0 required/>
        <div class="sg-flex-row sg-flex-align-center sg-flex-justify-center col-2">
          {{getCurrencySymbol(billingElement.currency)}}
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-3 col-form-label">Kategoria</label>
        <app-general-typeahead
          [id]="'category'"
          name="category"
          class="col-9"
          [inputClass]="'form-control'"
          [readonly]="null"
          [(ngModel)]="billingElement.category"
          [dataProvider]="categoriesForTypeAhead()"
          #category="ngModel"
          required>
        </app-general-typeahead>
      </div>

      <div class="form-group row">
        <label for="dateOfElement" class="col-3 col-form-label">Data</label>
        <app-date-picker class="col-9" [id]="'dateOfElement'" name="dateOfElement" [(ngModel)]="elementDate">
        </app-date-picker>
      </div>

      <div class="form-group row">
        <label for="description" class="col-3 col-form-label">Opis</label>
        <textarea id="description" name="description" class="form-control col-9"
                  #description="ngModel"
                  [(ngModel)]="billingElement.description">

        </textarea>
      </div>

      <div class="form-group row">
        <label for="piggybank" class="col-4 col-form-label">{{piggyBankAction()}}</label>
        <app-general-typeahead
          [id]="'piggybank'"
          name="piggybank"
          class="col-8"
          [inputClass]="'form-control'"
          [readonly]="null"
          [(ngModel)]="piggyBankId"
          [availableData]="piggyBanksForSelectedAccount"
          [dataProvider]="piggyBanksForTypeAhead()"
          #piggybank="ngModel"
          required>
        </app-general-typeahead>
      </div>
    </div>
  </form>
  <div class="sg-flex-row sg-flex-align-stretch">
    <button type="button" class="btn btn-outline-primary" *ngIf="forAccountId"
            [disabled]="amount?.errors?.required || !isAllowed()"
            (click)="add()">
      Stwórz
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="cancel()">Anuluj</button>
  </div>
</div>
