<div class="row col-sm sg-flex-justify-center">
  <div class="sg-flex-column">
    <div *ngIf="groupingButtonsPosition === 'head'">
      <ng-container *ngTemplateOutlet="displayTypeSelectorTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="servicePaymentsTemplate"></ng-container>
    <div *ngIf="groupingButtonsPosition === 'bottom'">
      <ng-container *ngTemplateOutlet="displayTypeSelectorTemplate"></ng-container>
    </div>
  </div>
</div>

<ng-template #displayTypeSelectorTemplate>
  <div class="sg-flex-row sg-flex-justify-center">
    <button (click)="byClients()" class="btn btn-link btn-sm">
      Według klientów
    </button>
    <button (click)="byReceiptType()" class="btn btn-link btn-sm">
      Według rodzaju pokwitowania
    </button>
    <button (click)="noGrouping()" class="btn btn-link btn-sm">
      Szczegółowy
    </button>
  </div>
</ng-template>

<ng-template #servicePaymentsTemplate>
  <div class="sg-flex-column">

    <div class="sg-flex-column">
      <div class="sg-flex-row">
        <div style="width: 20%"></div>
        <h5 *ngIf="title" style="text-align: center; width: 60%">{{title}} ({{getDataLength()}})</h5>
        <button style="width: 20%" (click)="prepareToCreate()" *ngIf="editable && isNonEditMode()"
                class="btn btn-primary btn-sm">
          Stwórz
        </button>
      </div>
      <app-multi-currency-total
        [title]="'Łączne dochody'"
        [values]="totalIncomes"
      ></app-multi-currency-total>
    </div>

    <div (mouseleave)="setOverClientPayment(null, null)" *ngIf="isNonEditMode()"
         class="sg-flex-row sg-flex-justify-center">
      <table style="width: 420px;">
        <ng-container *ngFor="let group of displayData">
          <tr *ngIf="group.title" (click)="setGroupToDisplay(group)"
              [ngClass]="getGroupClass(group)"
              [class.expanded-highlight-top]="isGrouped() && isEqualToSelectedGroup(group)"
              [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
            <td colspan="2" style="font-weight: bold">
              {{group.title}}
            </td>
            <td [colSpan]="showReceiptTypeColumns ? 5 : 2">
              <div class="sg-flex-column">
                <div *ngFor="let pi of group.additionalFinancialData | keyvalue" style="text-align: right">
                  {{ pi.value.paid | currency: pi.key }} / {{ pi.value.of | currency: pi.key }}
                </div>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="isEqualToSelectedGroup(group)">
            <tr [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
              <td *ngIf="isGrouped()" style="width: 50px"></td>
              <td style="width: 110px">Data</td>
              <td *ngIf="showClientColumn" style="width: 110px">Klient</td>
              <td style="width: 100px">Cena</td>
              <td *ngIf="showReceiptTypeColumns" style="width: 30px; text-align: center">P</td>
              <td *ngIf="showReceiptTypeColumns" style="width: 30px; text-align: center">PF</td>
              <td *ngIf="showReceiptTypeColumns" style="width: 30px; text-align: center">F</td>
              <td *ngIf="showReceiptTypeColumns" style="width: 30px; text-align: center">C</td>
            </tr>
            <ng-container *ngFor="let clientPayment of group.data">

              <tr #row (click)="setClientPayment(clientPayment)"
                  (mouseenter)="setOverClientPayment(clientPayment, row)"
                  class="performed-service-row sg-row-hoverable"
                  [ngClass]="getClientPaymentClass(clientPayment)"
                  [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
                <td *ngIf="isGrouped()"></td>
                <td>{{clientPayment.date | localizedDate }}</td>
                <td *ngIf="showClientColumn">{{clientPayment.client.name}}</td>
                <td style="text-align:right">{{clientPayment.price| currency: clientPayment.currency}}</td>
                <td *ngIf="showReceiptTypeColumns" style="text-align:center"><input type="checkbox"
                                                                                    [ngModel]="clientPayment.billOfSale"
                                                                                    disabled></td>
                <td *ngIf="showReceiptTypeColumns" style="text-align:center"><input type="checkbox"
                                                                                    [ngModel]="clientPayment.billOfSaleAsInvoice"
                                                                                    disabled></td>
                <td *ngIf="showReceiptTypeColumns" style="text-align:center"><input type="checkbox"
                                                                                    [ngModel]="clientPayment.invoice"
                                                                                    disabled></td>
                <td *ngIf="showReceiptTypeColumns" style="text-align:center"><input type="checkbox"
                                                                                    [ngModel]="clientPayment.notRegistered"
                                                                                    disabled>
                </td>
              </tr>
              <tr *ngIf="isEqualToSelectedElement(clientPayment)"
                  (click)="setClientPayment(clientPayment)"
                  [ngClass]="getClientPaymentClass(clientPayment)"
                  [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
                <td [colSpan]="2 + (showReceiptTypeColumns ? 5 : 2)">
                  <div class="sg-flex-column">
                    <table style="width: 100%">
                      <thead>
                      <tr>
                        <td>Data</td>
                        <td>Usługa</td>
                        <td>Cena</td>
                      </tr>
                      </thead>
                      <tr *ngFor="let servicePaymentRelation of getServiceRelations(clientPayment)">
                        <td style="text-align:center">{{servicePaymentRelation.date | localizedDate}}</td>
                        <td style="text-align:center">{{servicePaymentRelation.service}}</td>
                        <td
                          style="text-align:right">{{servicePaymentRelation.price | currency: servicePaymentRelation.currency}}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)"
                [class.expanded-highlight-bottom]="isGrouped() && isEqualToSelectedGroup(group)">
              <td [colSpan]="2 + (showReceiptTypeColumns ? 5 : 2)"></td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button (click)="prepareToGeneralEdit()" class="btn btn-primary btn-sm">
          Edytuj
        </button>
      </div>
    </div>

    <div *ngIf="isGeneralEditMode() || isCreateEditMode()">
      <app-client-payment-edit
        [clientPayment]="editElement"
        [performedServices]="performedServices"
        [editMode]="isGeneralEditMode()"
        [createMode]="isCreateEditMode()"
        [allCurrencies]="allCurrencies"
        [clients]="clients"
        (createEvent)="create($event)"
        (updateEvent)="update()"
        (cancelEvent)="resetEditForm()"
      >
      </app-client-payment-edit>
    </div>
  </div>
</ng-template>
