<div class="row col-sm sg-flex-justify-center">
  <div class="sg-flex-column">
    <ng-container *ngTemplateOutlet="displayTypeSelectorTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="servicePaymentsTemplate"></ng-container>
  </div>
</div>

<ng-template #displayTypeSelectorTemplate>
  <div class="sg-flex-row sg-flex-justify-center">
    <button (click)="byClients()" class="btn btn-link btn-sm">
      Według klientów
    </button>
    <button (click)="noGrouping()" class="btn btn-link btn-sm">
      Szczegółowy
    </button>
  </div>
</ng-template>

<ng-template #servicePaymentsTemplate>
  <div class="sg-flex-column">

    <div class="sg-flex-row">
      <div style="width: 20%"></div>
      <h5 *ngIf="title" style="text-align: center; width: 60%">{{title}}</h5>
      <button style="width: 20%" (click)="prepareToCreate()" *ngIf="isNonEditMode()" class="btn btn-primary btn-sm">Stwórz</button>
    </div>

    <div (mouseleave)="setOverClientPayment(null, null)" *ngIf="isNonEditMode()"
         class="sg-flex-row sg-flex-justify-center">
      <table style="width: 410px;">
        <ng-container *ngFor="let group of displayData">
          <tr *ngIf="group.title" (click)="setGroupToDisplay(group)"
              [ngClass]="getGroupClass(group)"
              [class.expanded-highlight-top]="isGrouped() && isEqualToSelectedGroup(group)"
              [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
            <td colspan="2" style="font-weight: bold">
              {{group.title}}
            </td>
            <td colspan="5">
              <div class="sg-flex-column">
                <div *ngFor="let pi of group.additionalFinancialData | keyvalue" style="text-align: right">
                  {{ pi.value.paid | currency: pi.key }} / {{ pi.value.of | currency: pi.key }}
                </div>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="isEqualToSelectedGroup(group)">
            <tr [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
              <td *ngIf="isGrouped()" style="width: 50px"></td>
              <td style="width: 100px">Data</td>
              <td *ngIf="showClientColumn" style="width: 110px">Klient</td>
              <td style="width: 100px">Cena</td>
              <td style="width: 30px">P</td>
              <td style="width: 30px">PF</td>
              <td style="width: 30px">F</td>
              <td style="width: 30px">C</td>
            </tr>
            <ng-container *ngFor="let clientPayment of group.data">

              <tr #row (click)="setClientPayment(clientPayment)"
                  (mouseenter)="setOverClientPayment(clientPayment, row)"
                  class="performed-service-row sg-row-hoverable"
                  [ngClass]="getClientPaymentClass(clientPayment)"
                  [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
                <td *ngIf="isGrouped()"></td>
                <td>{{clientPayment.date | localizedDate }}</td>
                <td *ngIf="showClientColumn">{{clientPayment.client.name}}</td>
                <td style="text-align:right">{{clientPayment.price| currency: clientPayment.currency}}</td>
                <td style="text-align:center"><input type="checkbox" [ngModel]="clientPayment.billOfSale" disabled></td>
                <td style="text-align:center"><input type="checkbox" [ngModel]="clientPayment.billOfSaleAsInvoice"
                                                     disabled>
                </td>
                <td style="text-align:center"><input type="checkbox" [ngModel]="clientPayment.invoice" disabled></td>
                <td style="text-align:center"><input type="checkbox" [ngModel]="clientPayment.notRegistered" disabled>
                </td>
              </tr>
              <tr *ngIf="isEqualToSelectedElement(clientPayment)"
                  (click)="setClientPayment(clientPayment)"
                  [ngClass]="getClientPaymentClass(clientPayment)"
                  [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)">
                <td colspan="7">
                  <div class="sg-flex-column">
                    <table style="width: 100%">
                      <thead>
                      <tr>
                        <td>Data</td>
                        <td>Usługa</td>
                        <td>Cena</td>
                      </tr>
                      </thead>
                      <tr *ngFor="let payment of clientPayment.serviceRelations">
                        <td style="text-align:center">{{getPerformedService(payment).date | localizedDate}}</td>
                        <td style="text-align:center">{{getPerformedService(payment).service.name}}</td>
                        <td
                          style="text-align:right">{{payment.price | currency: getPerformedService(payment).currency}}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr [class.expanded-highlight-sides]="isGrouped() && isEqualToSelectedGroup(group)"
                [class.expanded-highlight-bottom]="isGrouped() && isEqualToSelectedGroup(group)">
              <td colspan="7"></td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button (click)="prepareToGeneralEdit()" class="btn btn-primary btn-sm">
          Edytuj
        </button>
      </div>
    </div>

    <div *ngIf="isGeneralEditMode() || isCreateEditMode()">
      <app-client-payment-edit
        [clientPayment]="editElement"
        [performedServices]="performedServices"
        [editMode]="isGeneralEditMode()"
        [createMode]="isCreateEditMode()"
        [allCurrencies]="allCurrencies"
        [clients]="clients"
        (createEvent)="create($event)"
        (updateEvent)="update($event)"
        (cancelEvent)="resetEditForm()"
      >
      </app-client-payment-edit>
    </div>
  </div>
</ng-template>
