<div class="sg-flex-column" style="height: 100%;">
  <div class="sg-flex-row">
    <div class="btn-group sg-flex-auto">
      <button class="btn"
              [ngClass]="{'btn-outline-primary': !displayingServices(),'btn-primary': displayingServices()}"
              (click)="showServices();">
        Usługi
      </button>
      <button class="btn"
              [ngClass]="{'btn-outline-primary': !displayingPayments(),'btn-primary': displayingPayments()}"
              (click)="showPayments()">
        Płatności
      </button>
    </div>
  </div>

  <div *ngIf="displayingServices()"
       (swipeleft)="previousDayPerformedServices()"
       (swiperight)="nextDayPerformedServices()"
       style="height: 100%"
       class="sg-flex-column">

    <div class="sg-flex-row sg-flex-justify-space-between">
      <div class="sg-flex-auto" style="width: 30%">
        <button (click)="showServicesDayByDay()" class="btn btn-link btn-sm">Dzienne</button>
      </div>
      <div class="sg-flex-auto sg-flex-column sg-flex-align-center sg-flex-justify-center" style="width: 40%">
        <h6 *ngIf="displayingServicesDayByDay()"
            style="text-align: center">{{displayingDate | localizedDate: 'dd MMMM y'}}</h6>
        <h6 *ngIf="displayingServicesByClients()"
            style="text-align: center">{{displayingDate | localizedDate: "LLLL'\'y"}}</h6>
      </div>
      <div class="sg-flex-auto" style="width: 30%">
        <button (click)="showServicesByClients()" class="btn btn-link btn-sm">Wg klientów</button>
      </div>
    </div>

    <table *ngIf="!performedServiceToCreate && displayingServicesDayByDay()">
      <tr *ngFor="let ps of performedServicesForDay">
        <td>{{ps.client.name}}</td>
        <td>{{ps.service.name}}</td>
        <td style="text-align:right">{{ps.price| currency: ps.currency}}</td>
      </tr>
    </table>

    <table *ngIf="!performedServiceToCreate && displayingServicesByClients()">
      <ng-container *ngFor="let client of performedServicesByClients">
        <tr (click)="selectGroup(client)" [ngClass]="{'sg-row-selected':isGroupSelected(client)}">
          <td colspan="3">{{client.title}}</td>
        </tr>
        <ng-container *ngIf="isGroupSelected(client)">
          <tr *ngFor="let ps of client.data" (click)="selectGroup(client)" [ngClass]="getClientPaymentRowClass(ps)">
            <td>{{ps.date | localizedDate: 'yyyy-MM-dd' }}</td>
            <td>{{ps.service.name}}</td>
            <td style="text-align:right">{{ps.price| currency: ps.currency}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <app-performed-service-edit
      *ngIf="performedServiceToCreate"
      [allCurrencies]="allCurrencies"
      [services]="services"
      [clients]="clients"
      [performedServices]="performedServices"
      [createMode]="true"
      [performedService]="performedServiceToCreate"
      (cancelEvent)="performedServiceToCreate = null"
      (createEvent)="createPerformedService()"
    >

    </app-performed-service-edit>

    <button *ngIf="!performedServiceToCreate" style="width: 100%; margin-top: auto" (click)="addPerformedService()"
            class="btn btn-outline-primary sg-flex-align-self-end">
      Dodaj
    </button>
  </div>

  <div *ngIf="displayingPayments()">
    <app-client-payments
      [editable]="false"
      [title]="getClientPaymentsTitle()"
      [clientPayments]="clientPayments"
      [allCurrencies]="allCurrencies"
      [performedServices]="performedServices"
      [clients]="clients"
      [groupingButtonsPosition]="'bottom'"
    ></app-client-payments>
  </div>
</div>
