<div (swipeleft)="previousDayPerformedServices()" (swiperight)="nextDayPerformedServices()">
  <h5>Usługi z dnia {{displayingDate | localizedDate}}</h5>
  <table *ngIf="!performedServiceToCreate">
    <tr *ngFor="let ps of performedServicesForDay">
      <td>{{ps.client.name}}</td>
      <td>{{ps.service.name}}</td>
      <td style="text-align:right">{{ps.price| currency: ps.currency}}</td>
    </tr>
  </table>
  <app-performed-service-edit
    *ngIf="performedServiceToCreate"
    [allCurrencies]="allCurrencies"
    [services]="services"
    [clients]="clients"
    [performedServices]="performedServices"
    [createMode]="true"
    [performedService]="performedServiceToCreate"
    (cancelEvent)="performedServiceToCreate = null"
    (createEvent)="createPerformedService()"
  >

  </app-performed-service-edit>
  <button style="width: 100%" (click)="addPerformedService()" class="btn btn-outline-primary"
          *ngIf="!performedServiceToCreate">
    Dodaj
  </button>

  <h4></h4>
  <app-client-payments
    [editable]="false"
    [title]="getClientPaymentsTitle()"
    [clientPayments]="clientPayments"
    [allCurrencies]="allCurrencies"
    [performedServices]="performedServices"
    [clients]="clients"
    [groupingButtonsPosition]="'bottom'"
  ></app-client-payments>
</div>
