<div class="sg-flex-row sg-flex-justify-space-between">
  <div>
    <button class="btn btn-link btn-small" (click)="previous()">Wcześniej</button>
  </div>
  <div>
    <h4><span>{{monthYearString(displayingPeriod)}}</span></h4>
  </div>
  <div class="sg-flex-column">
    <button class="btn btn-link btn-small" (click)="next()">Później</button>
  </div>
</div>
<div class="sg-flex-row sg-flex-justify-flex-start">
  <app-performed-services
    [title]="'Wykonane usługi'"
    [performedServices]="performedServices"
    [services]="services"
    [clients]="clients"
    [clientPayments]="clientPayments"
    [allCurrencies]="allCurrencies"
    (createEvent)="createPSEvent.emit($event)"
    (updateEvent)="updatePSEvent.emit($event)"
    (createPerformedServicePaymentEvent)="createPSPaymentEvent.emit($event)"
    style="margin-bottom: 20px; width: 450px;margin-right: 5px"
  >
  </app-performed-services>
  <app-client-payments
    [title]="'Płatności'"
    [clientPayments]="clientPayments"
    [clients]="clients"
    [allCurrencies]="allCurrencies"
    [performedServices]="performedServices"
    (createEvent)="createCPEvent.emit($event)"
    (updateEvent)="updateCPEvent.emit($event)"
    style="margin-bottom: 20px; width: 400px;margin-left: 5px"
  >
  </app-client-payments>
</div>
