<div style="display: flex; flex-direction: row">
  <div style="display: flex; flex-direction: column">
    <app-user-accounts [userName]="loginService.getUserName()"
                       [accounts]="accounts"
                       (selectionChanged)="selectedAccount = $event">
    </app-user-accounts>

    <app-transactions-list [account]="selectedAccount"
                           [allAccounts]="accounts"
                           (transactionAction)="fetchAccounts()">
    </app-transactions-list>
  </div>

  <app-billing-periods></app-billing-periods>

  <app-piggy-banks [adminMode]="false" style="margin-left: 50px; margin-top: 50px"></app-piggy-banks>
</div>
