<div style="display: flex">
  <user-accounts [userName]="loginService.getUserName()"
                 [accounts]="accounts"
                 [selectedAccount]="selectedAccount"
                 (selectionChanged)="selectedAccount = $event"
  >
  </user-accounts>
  <div>
    <table class="table table-striped">
      <tr *ngFor="let transaction of transactionsOfSelectedAccount">
        <td>{{transaction.timeOfTransaction | localizedDate:'y-MM-d'}}</td>
        <td>
          <span
            *ngIf="transaction.source.id === selectedAccount.id">-{{transaction.debit}} {{transaction.source.currency}}</span>
          <span
            *ngIf="transaction.destination.id === selectedAccount.id">{{transaction.credit}} {{transaction.destination.currency}}</span>
        </td>
        <td>{{transaction.description}}</td>
      </tr>
    </table>
    <button (click)="openIncomeCreationDialog()">Income</button>
    <button (click)="openOutcomeCreationDialog()">Outcome</button>
  </div>
</div>
