.savings {
  order: 2;
  max-width: 320px;
  width: 320px;
}

.billing {
  order: 1;
  width: 640px;
  max-width: 640px;
  min-width: 320px;
}

.piggy-banks {
  order: 3;
  max-width: 320px;
  width: 320px;
}

@media (min-width: 960px) and (max-width: 1380px) {
  .savings {
    order: 2;
  }

  .billing {
    order: 1;
    width: 961px;
    max-width: 961px;
  }

  .piggy-banks {
    order: 3;
  }
}

@media (min-width: 1380px) {
  .savings {
    order: 1;
  }

  .billing {
    order: 2;
  }

  .piggy-banks {
    order: 3;
  }
}
