<div class="sg-flex-row sg-flex-justify-space-around sg-flex-wrap">
  <div *ngIf="loginService.accountantSettings && !loginService.accountantSettings.company"
       class="sg-flex-column sg-flex-justify-flex-start savings">
    <app-accounts-grand-total
      [title]="'Podsumowanie'"
      [piggyBanks]="piggyBanks"
      [accounts]="accounts"
      [historicalSavings]="historicalSavings"
      style="margin-bottom: 20px"
    >
    </app-accounts-grand-total>
    <app-domain-accounts *ngIf="accounts && accounts.length > 0"
                         [domain]="currentDomainName"
                         [accounts]="accounts"
                         [selectable]="false">
    </app-domain-accounts>
  </div>
  <div *ngIf="loginService.accountantSettings && loginService.accountantSettings.company"
       class="sg-flex-row sg-flex-justify-flex-start">
    <app-performed-services
      [title]="'Wykonane usługi'"
      [performedServices]="performedServices"
      [services]="services"
      [clients]="clients"
      [clientPayments]="clientPayments"
      [allCurrencies]="allCurrencies"
      (createEvent)="createPerformedService($event)"
      (updateEvent)="updatePerformedService($event)"
      (createPerformedServicePaymentEvent)="createPerformedServicePayment($event)"
      style="margin-bottom: 20px; width: 400px"
    >
    </app-performed-services>
    <app-client-payments
      [title]="'Płatności'"
      [clientPayments]="clientPayments"
      [clients]="clients"
      [allCurrencies]="allCurrencies"
      [performedServices]="performedServices"
      (createEvent)="createClientPayment($event)"
      (updateEvent)="updateClientPayment($event)"
      style="margin-bottom: 20px; width: 400px"
    >
    </app-client-payments>
  </div>
  <div class="billing">
    <app-browse-billing-elements
      [accounts]="accounts"
      [categories]="categories"
      [piggyBanks]="piggyBanks"
      [billingPeriodInfo]="billingPeriodInfo"
      (dateSelected)="fetchBillingPeriod($event)"
      (finishBillingPeriod)="finishBillingPeriod($event)"
      (createBillingPeriod)="createBilling($event)"
      (createElementEvent)="createElement($event[0], $event[1], $event[2])"
      (updatePiggyBankEvent)="updatePiggyBank($event)"
    ></app-browse-billing-elements>
  </div>
  <div *ngIf="loginService.accountantSettings && !loginService.accountantSettings.company" class="piggy-banks">
    <app-piggy-banks
      [title]="'Skarbonki'"
      [adminMode]="false"
      [piggyBanks]="piggyBanks"
      (updateEvent)="updatePiggyBank($event)"
      style="margin-left: 50px; margin-top: 50px;margin-right: 50px">

    </app-piggy-banks>
  </div>
</div>
