.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
}

.row {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
