<ng-container *ngIf="intellectualProperty">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <ng-container *ngIf="intellectualProperty.id !== 0">Edycja właśności intelektualnej</ng-container>
      <ng-container *ngIf="intellectualProperty.id === 0">Tworzenie właśności intelektualnej</ng-container>
    </h4>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="intellectualProperty=null;activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="description">Opis</label>
      <textarea [(ngModel)]="intellectualProperty.description"
                class="form-control"
                rows="5"
                id="description"
                required>
      </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="acceptModal()">
      <ng-container *ngIf="intellectualProperty.id !== 0">zapisz</ng-container>
      <ng-container *ngIf="intellectualProperty.id === 0">stwórz</ng-container>
    </button>
  </div>
</ng-container>
