<ng-container *ngIf="timeRecord">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edycja zadania</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="taskTA">Zadanie</label>
      <app-general-typeahead
        id="taskTA"
        [inputClass]="'form-control'"
        [(ngModel)]="task"
        [dataProvider]="tasksForTypeAhead()"
        required>
      </app-general-typeahead>
    </div>

    <div class="form-group">
      <label for="dateOfTimeRecord">Data</label>
      <input
        id="dateOfTimeRecord"
        [(ngModel)]="timeRecord.date"
        #datepicker="ngbDatepicker"
        (click)="datepicker.toggle()"
        class="form-control"
        ngbDatepicker>
    </div>

    <div class="form-group">
      <label for="numberOfHours">Liczba godzin</label>
      <input id="numberOfHours" type="number" class="form-control"
             [(ngModel)]="timeRecord.numberOfHours"
             required/>
    </div>

    <div class="form-group">
      <label for="timeRecordDescription">Opis</label>
      <input id="timeRecordDescription" type="text" class="form-control"
             [(ngModel)]="timeRecord.description"
             required/>
    </div>
  </div>

  <div class="modal-footer sg-flex-row">
    <button class="btn btn-sm btn-link" (click)="activeModal.dismiss()">anuluj</button>
    <button class="btn btn-sm btn-link" (click)="emitAction()">zatwierdź</button>
  </div>
</ng-container>
