<div class="sg-flex-row">
  <seven-seg [digits]="2" [decimalPlaces]="0" [value]="hours" [color]="color" [height]="height"></seven-seg>

  <svg viewBox="0 0 19 80" focusable="false" [style.width.px]="height / 80 * 19" [style.height.px]="height" [style.fill]="color">
    <circle segmentOn cx="5" cy="55" r="5"/>
    <circle segmentOn cx="5" cy="25" r="5"/>
  </svg>

  <seven-seg [digits]="2" [decimalPlaces]="0" [value]="minutes" [color]="color" [height]="height"></seven-seg>

  <svg viewBox="0 0 19 80" focusable="false" [style.width.px]="height / 80 * 19" [style.height.px]="height" [style.fill]="color">
    <circle segmentOn cx="5" cy="55" r="5"/>
    <circle segmentOn cx="5" cy="25" r="5"/>
  </svg>

  <seven-seg [digits]="3" [decimalPlaces]="1" [value]="seconds" [color]="color" [height]="height"></seven-seg>
</div>
