<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="../../../assets/images/avatar_2x.png"/>
    <input type="text" id="uname" class="form-control" name="uname" autocomplete="off" #uname="ngModel"
           [(ngModel)]="userObject.uname" placeholder="Nazwa użytkownika" title="Wprowadź nazwę użytkownika" required
           autofocus>
    <input type="password" id="upass" class="form-control" name="upass" autocomplete="off" #upass="ngModel"
           [(ngModel)]="userObject.upass" placeholder="Hasło" title="Wprowadź hasło" required>
    <input type="text" id="authcode" class="form-control" name="authcode" autocomplete="off"
           #authcode="ngModel" [(ngModel)]="userObject.authcode" placeholder="Hasło OTP"
           title="Wpisz hasło OTP odczytane z aplikacji do uwierzytelniania dwuetapowego" required>
    <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="loginUser()">
      Zaloguj
    </button>
    <p style="text-align:center;">Nie masz jeszcze konta? <a [routerLink]="['/register']">Zarejestruj się tutaj</a></p>
    <p class="text-danger" style="text-align:center;" *ngIf="message">{{message}}</p>
  </div>
</div>
