<div class="sg-flex-column">
  <h5 style="text-align: center">{{title}}</h5>
  <app-currency-totals [title]="'Zgromadzone środki'"
                       [valuesLeft]="accounts"
                       style="margin-bottom: 10px"
  ></app-currency-totals>
  <app-currency-totals [title]="'Środki rozlokowane w skarbonkach'"
                       [valuesLeft]="piggyBanks"
                       style="margin-bottom: 10px"
  ></app-currency-totals>
  <app-currency-totals [title]="'Wolne środki'"
                       [valuesLeft]="accounts"
                       [valuesRight]="piggyBanks"
  ></app-currency-totals>
  <h5 style="text-align: center">Historyczne oszczędonści</h5>
  <app-multi-currency-total *ngFor="let date of dates"
                            [title]="formatMonthDate(date)"
                            [values]="getHistoricalSavings(date)">
  </app-multi-currency-total>
  <app-multi-currency-total
    [title]="'Bieżące oszczędności'"
    [values]="savingsTotal"
  >
  </app-multi-currency-total>
</div>
