<div class="sg-flex-justify-center">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
  <div style="width: 1200px">
    <div class="sg-flex-row sg-flex-justify-space-between">
      <button class="btn btn-sm btn-link" (click)="openIntellectualPropertyCreationModal();">
        stwórz własność intelektualną
      </button>
      <div class="form-group row">
        <label for="filter" class="col-form-label" style="margin-right: 10px;width: 75px;">pokaż</label>
        <select id="filter" class="form-select" [(ngModel)]="intellectualPropertiesFilter" style="width: 150px;">
          <option *ngFor="let filter of intellectualPropertiesDates" [value]="filter">{{filter}}</option>
        </select>
        <div class="form-check form-switch sg-flex-row sg-flex-align-center" style="width: 200px;margin-left: 10px;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="withoutAttachments">
          <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 5px;">bez załączników</label>
        </div>
        <button class="btn btn-sm btn-link" (click)="activeIdsArray = []" style="width: 150px;">
          zwiń wszystkie
        </button>
      </div>
    </div>

    <ngb-accordion [activeIds]="activeIds" #accordion="ngbAccordion">
      <ngb-panel *ngFor="let intellectualProperty of intellectualPropertiesFiltered"
                 [id]="intellectualProperty.id.toString()"
                 (shown)="tabShown(intellectualProperty.id.toString())"
                 (hidden)="tabHidden(intellectualProperty.id.toString())">
        <ng-template ngbPanelTitle>
          <div class="sg-flex-row sg-flex-justify-space-between" style="width: 100%">
            <div>{{intellectualProperty.description}}</div>
            <div class="sg-flex-row">
              <button class="btn btn-sm btn-link"
                      (click)="$event.cancelBubble = true;openIntellectualPropertyEditModal(intellectualProperty);">
                <i class="bi bi-pencil"></i>
              </button>
              <button *ngIf="intellectualProperty.tasks.length === 0"
                      class="btn btn-sm btn-link"
                      (click)="$event.cancelBubble = true;openIPDeletionConfirmationModal(content, intellectualProperty.id, accordion)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div>
            <div class="sg-flex-row sg-flex-justify-space-between">
              <span *ngIf="intellectualProperty.tasks.length !== 0">Zadania w ramach IP</span>
              <span *ngIf="intellectualProperty.tasks.length === 0">Brak wykonanych zadań w ramach IP</span>
              <button (click)="showTaskCreator(intellectualProperty)" class="btn btn-sm btn-link">
                stwórz zadanie
              </button>
            </div>
            <div *ngFor="let task of intellectualProperty.tasks" class="task-row sg-flex-row">
              <div class="sg-flex-column" style="width: 100%;">
                <div class="sg-flex-row sg-flex-justify-space-between">
                  <div>{{ task.description }}</div>
                  <div>
                    <button class="btn btn-sm btn-link" (click)="showTaskEditor(intellectualProperty, task)">
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-link" *ngIf="task.timeRecords.length === 0"
                            (click)="openTaskDeletionConfirmationModel(content, task.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
                <div>Współautorzy: {{ task.coAuthors }}</div>
                <div class="sg-flex-row">
                  <div class="sg-flex-column col-6"
                       style="border-right: #8e8e8e dotted; padding-right: 5px; margin-right: 5px">
                    <div class="sg-flex-row">
                      <div class="sg-flex-row col-4">
                        <div *ngIf="task.timeRecords.length === 0">Brak zarejestrowanego czasu</div>
                        <div *ngIf="task.timeRecords.length > 0">Zarejestrowany czas</div>
                      </div>
                      <div class="sg-flex-column col-7">
                        {{getTimeRecordsSummary(task)}}
                      </div>
                      <button class="btn btn-sm btn-link col-1" (click)="showTasksDetails(task)">
                        <i class="bi bi-search"></i>
                      </button>
                    </div>
                  </div>
                  <div class="sg-flex-column col-6" *ngIf="!attachmentData || attachmentData.taskId !== task.id">
                    <div class="sg-flex-row sg-flex-justify-space-between">
                      <div *ngIf="task.attachments.length === 0">Brak załączników</div>
                      <div *ngIf="task.attachments.length > 0">Załączniki</div>
                      <button (click)="showAttachmentUpload(task.id)" class="btn btn-sm btn-link">
                        <i class="bi bi-upload"></i>
                      </button>
                    </div>
                    <div *ngFor="let attachment of task.attachments">
                      <div class="sg-flex-row sg-flex-justify-space-between">
                        <div>{{attachment}}</div>
                        <div class="sg-flex-row">
                          <button (click)="downloadAttachment(task, attachment)" class="btn btn-sm btn-link">
                            <i class="bi bi-download"></i>
                          </button>
                          <button (click)="openAttachmentDeleteConfirmation(content, task, attachment)" class="btn btn-sm btn-link">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Potwierdzenia usunięcia</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    Czy na pewno chcesz usunąć?
  </div>

  <div class="modal-footer sg-flex-row">
    <button class="btn btn-sm btn-link" (click)="modal.dismiss()">anuluj</button>
    <button class="btn btn-sm btn-link" (click)="modal.close()">usuń</button>
  </div>
</ng-template>
