<button class="btn btn-sm btn-link" (click)="showIntellectualPropertyCreation = true">Stwórz intellectual
  property
</button>
<div *ngIf="showIntellectualPropertyCreation">
  <div class="form-group sg-flex-row">
    <label for="description" class="col-2 col-form-label">Opis</label>
    <div class="col-10">
      <input id="description" name="description" type="name" class="form-control"
             #description="ngModel"
             [(ngModel)]="intellectualPropertyDescriptionToCreate"
             required/>
    </div>
  </div>
  <ng-container>
    <button class="btn btn-sm btn-link"
            (click)="showIntellectualPropertyCreation = false; intellectualPropertyDescriptionToCreate = ''">anuluj
    </button>
    <button class="btn btn-sm btn-link" (click)="createIntellectualProperty()">stwórz</button>
  </ng-container>
</div>
<div *ngFor="let intellectualProperty of intellectualProperties">
  <div class="sg-flex-row">
    <span>{{intellectualProperty.description}}</span>
    <div *ngIf="intellectualProperty.tasks.length === 0">
      <button class="btn btn-sm btn-link" (click)="intellectualPropertyToEdit = intellectualProperty">edytuj</button>
      <button class="btn btn-sm btn-link" (click)="deleteIntellectualProperty(intellectualProperty.id)">usuń</button>
    </div>
  </div>
  <div style="margin-left: 50px; background-color: #c5ecb8">
    <div *ngIf="intellectualPropertyToEdit && intellectualPropertyToEdit.id === intellectualProperty.id">
      <div class="form-group sg-flex-row">
        <label for="description1" class="col-2 col-form-label">Opis</label>
        <div class="col-10">
          <input id="description1" name="description1" type="name" class="form-control"
                 #description="ngModel"
                 [(ngModel)]="intellectualProperty.description"
                 required/>
        </div>
      </div>
      <ng-container>
        <button class="btn btn-sm btn-link" (click)="intellectualPropertyToEdit = null">anuluj</button>
        <button class="btn btn-sm btn-link" (click)="updateIntellectualProperty()">stwórz</button>
      </ng-container>
    </div>
    <div>
      <div class="sg-flex-row">
        <span *ngIf="intellectualProperty.tasks.length !== 0">Zadania w ramach IP</span>
        <span *ngIf="intellectualProperty.tasks.length === 0">Brak wykonanych zadań w ramach IP</span>
        <button class="btn btn-sm btn-link" (click)="showTaskCreator(intellectualProperty)">stwórz</button>
      </div>
      <div *ngIf="taskData && taskData.intellectualPropertyId === intellectualProperty.id && !taskData.taskId"
           style="margin-left: 50px; background-color: #acb2ec">
        <ng-container [ngTemplateOutlet]="taskDetails"></ng-container>
      </div>
      <div *ngIf="intellectualProperty.tasks.length !== 0"
           style="margin-left: 50px; background-color: #acb2ec">
        <div *ngFor="let task of intellectualProperty.tasks">
          <div class="sg-flex-row">
            <div class="sg-flex-column">
              <div class="sg-flex-row">
                {{ task.description }}
                <button class="btn btn-sm btn-link" (click)="showTaskEditor(intellectualProperty, task)">edytuj
                </button>
                <button class="btn btn-sm btn-link" *ngIf="task.timeRecords.length === 0"
                        (click)="deleteTask(task.id)">usuń
                </button>
              </div>
              <div>Współautorzy: {{ task.coAuthors }}</div>
            </div>
            <div *ngIf="taskData && taskData.taskId && taskData.taskId === task.id"
                 style="margin-left: 50px; background-color: #acb2ec">
              <ng-container [ngTemplateOutlet]="taskDetails"></ng-container>
            </div>
            <div *ngIf="!taskData || !taskData.taskId || taskData.taskId !== task.id"
                 style="margin-left: 50px; background-color: #acb2ec">
              <div class="sg-flex-row">
                <div class="sg-flex-column">
                  <div class="sg-flex-row">
                    <div *ngIf="task.timeRecords.length === 0">Brak zarejestrowanego czasu</div>
                    <div *ngIf="task.timeRecords.length > 0">Zarejestrowany czas</div>
                    <button class="btn btn-sm btn-link" (click)="showTimeRecordCreator(task)">stwórz</button>
                  </div>
                  <div *ngIf="!timeRecordData">
                    <div *ngFor="let timeRecord of task.timeRecords">
                      <div class="sg-flex-row">
                        <div>{{timeRecord.date | localizedDate}}: {{timeRecord.numberOfHours}} godzin
                          - {{timeRecord.description}}</div>
                        <button class="btn btn-sm btn-link" (click)="showTimeRecordEditor(task, timeRecord)">edytuj
                        </button>
                        <button class="btn btn-sm btn-link" (click)="deleteTimeRecord(timeRecord.id)">usuń
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="timeRecordData && timeRecordData.taskId === task.id">
                    <ng-container [ngTemplateOutlet]=" timeRecordDetails"></ng-container>
                  </div>
                </div>
                <div class="sg-flex-column" *ngIf="!attachmentData || attachmentData.taskId !== task.id">
                  <div class="sg-flex-row">
                    <div *ngIf="task.attachments.length === 0">Brak załączników</div>
                    <div *ngIf="task.attachments.length > 0">Załączniki</div>
                    <button class="btn btn-sm btn-link" (click)="showAttachmentUpload(task.id)">dodaj</button>
                  </div>
                  <div *ngFor="let attachment of task.attachments">
                    <div class="sg-flex-row">
                      <div>{{attachment}}</div>
                      <button class="btn btn-sm btn-link" (click)="downloadAttachment(task, attachment)">pobierz
                      </button>
                      <button class="btn btn-sm btn-link" (click)="deleteAttachment(task, attachment)">usuń
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="attachmentData && attachmentData.taskId === task.id">
                  <sg-uploader [uploadFunction]="upload()" (uploadFinished)="attachmentData = null;refreshData()"
                               (uploadCancelled)="attachmentData = null;refreshData();"></sg-uploader>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #taskDetails>
  <ng-container *ngIf="taskData">
    <div class="form-group sg-flex-row">
      <label for="coAuthors" class="col-2 col-form-label">Współautorzy</label>
      <div class="col-10">
        <input id="coAuthors" name="coAuthors" type="name" class="form-control"
               [(ngModel)]="taskData.coAuthors"
               required/>
      </div>
    </div>
    <div class="form-group sg-flex-row">
      <label for="description" class="col-2 col-form-label">Opis</label>
      <div class="col-10">
        <input id="taskDescription" name="taskDescription" type="name" class="form-control"
               [(ngModel)]="taskData.description"
               required/>
      </div>
    </div>
    <ng-container>
      <button class="btn btn-sm btn-link" (click)="taskData = null">anuluj</button>
      <button class="btn btn-sm btn-link" (click)="taskAction()">zatwierdź</button>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #timeRecordDetails>
  <ng-container *ngIf="timeRecordData">
    <div class="form-group sg-flex-row">
      <label for="dateOfTimeRecord" class="col-3 col-form-label">Data</label>
      <app-date-picker class="col-9" id="dateOfTimeRecord" name="dateOfTimeRecord" [(ngModel)]="timeRecordData.date">
      </app-date-picker>
    </div>
    <div class="form-group sg-flex-row">
      <label for="numberOfHours" class="col-2 col-form-label">Liczba godzin</label>
      <div class="col-10">
        <input id="numberOfHours" name="numberOfHours" type="number" class="form-control"
               [(ngModel)]="timeRecordData.numberOfHours"
               required/>
      </div>
    </div>
    <div class="form-group sg-flex-row">
      <label for="timeRecordDescription" class="col-2 col-form-label">Opis</label>
      <div class="col-10">
        <input id="timeRecordDescription" name="timeRecordDescription" type="name" class="form-control"
               [(ngModel)]="timeRecordData.description"
               required/>
      </div>
    </div>
    <ng-container>
      <button class="btn btn-sm btn-link" (click)="timeRecordData = null">anuluj</button>
      <button class="btn btn-sm btn-link" (click)="timeRecordAction()">zatwierdź</button>
    </ng-container>
  </ng-container>
</ng-template>
