<select class="form-select" [(ngModel)]="date">
  <option *ngFor="let dateOption of dates" [value]="dateOption">{{dateOption}}</option>
</select>
<div class="sg-flex-row">
  <button class="btn btn-link btn-sm" (click)="showTimeRecordCreation()">dodaj</button>
  <b>{{totalHours()}} godzin w tym miesiącu</b>
</div>
<div *ngFor="let timeRecordsForDate of timeRecordsForMonth | keyvalue">
  <b>{{timeRecordsForDate.key}} - w sumie {{sumHours(timeRecordsForDate.value)}} godzin</b>
  <div style="margin-left: 50px">
    <div *ngFor="let timeRecord of timeRecordsForDate.value">
      {{timeRecord.numberOfHours}} godzin {{timeRecord.task?.description || timeRecord.description}}
      <button class="btn btn-link btn-sm" (click)="showTimeRecordEdition(timeRecord)">edytuj</button>
    </div>
  </div>
</div>

<app-time-record-editor *ngIf="timeRecordData"
                        [tasks]="tasks"
                        [timeRecordData]="timeRecordData"
                        (onAction)="timeRecordAction()"
                        (onCancel)="timeRecordData = null">
</app-time-record-editor>
