<div class="sg-flex-row sg-flex-justify-center">
  <div style="padding:10px; width: 320px;" class="sg-flex-column">
    <h5 *ngIf="showTitle" style="text-align: center">Konta w domenie {{domain}}</h5>
    <div style="margin-left: auto; margin-right: 10px; width: 65%">
      <app-multi-currency-total
        class="mb-2 text-muted"
        [title]="'Suma:'"
        [values]="totalBalancesPerCurrency">

      </app-multi-currency-total>
    </div>
    <div (mouseleave)="setOverAccount(null, null)">
      <table #table style="width: 100%">
        <tr #row *ngFor="let account of accounts"
            (mouseenter)="setOverAccount(account, row)"
            (click)="select(account);"
            class="domain-row sg-row-hoverable" [class.selected]="account === selectedAccount">
          <td>{{account.name}}</td>
          <td style="text-align: right">{{account.currentBalance | currency: account.currency :undefined:'1.2-2' }}</td>
        </tr>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button class="btn btn-primary btn-sm" *ngFor="let button of buttons" (click)="button.action(buttonClicked());">
          {{button.name}}
        </button>
      </div>
    </div>
  </div>
</div>

