<ng-template [ngTemplateOutlet]="transactionsList">
</ng-template>

<ng-template [ngTemplateOutlet]="transactionImportOptions"
             *ngIf="shouldShowListOfImportOptions()">
</ng-template>

<ng-template [ngTemplateOutlet]="billingElementCreation"
             *ngIf="selectedTransactions.length > 0 && billingElementToCreate && !transactionCreationData">
</ng-template>

<ng-template [ngTemplateOutlet]="transactionCreation"
             *ngIf="selectedTransactions.length > 0 && !billingElementToCreate && transactionCreationData">
</ng-template>

<ng-template #transactionsList>
  <ng-container *ngIf="transactions.length > 0">
    <h4>Nowe transakcje z banku do zaimportowania</h4>

    <ng-container *ngFor="let transactionToImport of transactions">
      <div class="sg-flex-column" [class.transaction-multi-selection]="isTransactionSelected(transactionToImport)">
        <div class="sg-flex-row">
          <div class="sg-flex-column sg-flex-justify-center">
            <ng-container *ngIf="isTransactionSelected(transactionToImport)">
              <input class="form-check-input" type="checkbox" (click)="unselectTransaction(transactionToImport)"
                     checked>
            </ng-container>
            <ng-container *ngIf="!isTransactionSelected(transactionToImport)">
              <input class="form-check-input" type="checkbox" (click)="selectTransaction(transactionToImport)">
            </ng-container>
          </div>
          <app-transactions-row [transactionToImport]="transactionToImport"
                                (click)="changeSelectionOfTransaction(transactionToImport)"
                                class="sg-row-hoverable">
          </app-transactions-row>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #transactionImportOptions>

  <div class="sg-flex-column">
    <h5 class="sg-flex-justify-self-center" *ngIf="selectedTransactions.length === 1">Importujesz następującą
      transakcję</h5>
    <h5 class="sg-flex-justify-self-center" *ngIf="selectedTransactions.length > 1">Importujesz następujące
      transakcje</h5>
    <app-transactions-row *ngFor="let transaction of selectedTransactions"
                          [transactionToImport]="transaction"></app-transactions-row>
    <div class="sg-flex-justify-flex-end">
      <button class="btn btn-link btn-small" (click)="selectedTransactions = []">Anuluj</button>
    </div>

    <h6>Powyższą transakcję można zaimportować jako:</h6>

    <app-debit-transaction-importer
      [allAccounts]="allAccounts"
      [transactions]="selectedTransactions"
      (onExpenseCreation)="showBillingElementCreation($event[0],$event[1],$event[2])"
      (onTransactionCreation)="showTransactionCreation($event)">
    </app-debit-transaction-importer>

    <app-credit-transaction-importer
      [transactions]="selectedTransactions"
      [allAccounts]="allAccounts"
      (onIncomeCreation)="showBillingElementCreation($event[0],$event[1],$event[2])">
    </app-credit-transaction-importer>

    <app-transfer-importer
      *ngIf="transactions.length === 1 || transactions.length === 2"
      [transactions]="selectedTransactions"
      (onTransactionCreation)="showTransactionCreation($event)">
    </app-transfer-importer>

    <app-mutually-cancelling-importer
      *ngIf="transactions.length === 2"
      [transactions]="selectedTransactions"
      (onMutuallyCancel)="mutuallyCancelBothTransactions($event[0], $event[1])"
      (onCancel)="showListOfTransactions()">
    </app-mutually-cancelling-importer>

    <app-ignore-importer
      [transactions]="selectedTransactions"
      (onIgnore)="ignore($event)"
      (onCancel)="showListOfTransactions()">
    </app-ignore-importer>

  </div>
</ng-template>

<ng-template #billingElementCreation>
  <div class="sg-flex-column">
    <app-create-billing-element class="sg-flex-column"
                                [billingElement]="billingElementToCreate!"
                                [elementType]="billingElementToCreateType!"
                                [account]="accountOfBillingElementToCreate!"
                                (editEvent)="createElement($event[0], $event[1], $event[2])"
    ></app-create-billing-element>

  </div>
</ng-template>

<ng-template #transactionCreation>
  <app-create-transaction
    [sourceAccounts]="transactionCreationData!.sourceAccounts"
    [sourceAccount]="transactionCreationData!.sourceAccount"
    [destinationAccounts]="transactionCreationData!.destinationAccounts"
    [destinationAccount]="transactionCreationData!.destinationAccount"
    [involvedBankTransactions]="transactionCreationData!.involvedBankTransactions"
    [transactionType]="transactionCreationData!.transactionType"
    [amount]="transactionCreationData!.amount.toNumber()"
    [description]="transactionCreationData!.description"
    [conversionRate]="transactionCreationData!.conversionRate.toNumber()"
  ></app-create-transaction>
</ng-template>
