<div class="sg-flex-row" style="height: 100%;">

  <div style="width: 25%;height: 100%;">
    <ng-container *ngTemplateOutlet="generalStats"></ng-container>
    <ng-container *ngTemplateOutlet="dailyStatsTable"></ng-container>
    <ng-container *ngTemplateOutlet="detailedResultsTable"></ng-container>
  </div>

  <div style="width: 50%;" class="sg-flex-column sg-flex-justify-space-between">

    <div class="sg-flex-row sg-flex-wrap">
      <div *ngFor="let historicalRecord of historicalRecords"
           style="margin-right: 5px">{{historicalRecord | cubeRecordAsDate | date: 'mm:ss.SS'}} |
      </div>
    </div>

    <div class="sg-flex-justify-self-flex-end sg-flex-column sg-flex-justify-flex-start">
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </div>

  </div>

  <div style="width: 25%;" class="sg-flex-column">
    <div>
      <canvas baseChart #cubesRecordsChart='base-chart' style="position: relative"
              [data]="cubeRecordsLineChart.lineChartData"
              [options]="cubeRecordsLineChart.lineChartOptions"
              [type]="cubeRecordsLineChart.lineChartType">
      </canvas>
    </div>

  </div>
</div>

<ng-template #generalStats>
  <div [style.height.px]="resultsSummaryHeight">
    <div class="row">
      <div class="col-8">Najszybsze ułożenie</div>
      <div class="col-4">{{best | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Najwolniejsze ułożenie</div>
      <div class="col-4">{{worst | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Średnia</div>
      <div class="col-4">{{avg | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Nalepsze Ao5</div>
      <div class="col-4">{{bestAo5 | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Nalepsze Ao{{movingAverageNumberOfElements}}</div>
      <div class="col-4">{{bestAoN | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Średnia z ostatnich {{movingAverageNumberOfElements}} elementów</div>
      <div class="col-4">{{avgOfLastNElements | cubeRecordAsDate | date: 'mm:ss.SS'}}</div>
    </div>
  </div>
</ng-template>

<ng-template #dailyStatsTable>
  <div class="table-fix-head enable-vertical-scroll" [style.height.px]="resultsTableHeight">
    <table style="width: 100%;" class="table table-sm table-striped results-table">
      <thead>
      <tr>
        <th>Data</th>
        <th style="text-align: right">Sub 30</th>
        <th style="text-align: right">Wszystkie</th>
        <th style="text-align: right">Średnia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of statsByDates | keyvalue: compareByDatesDesc">
        <td>{{ record.key | localizedDate : 'yyyy-MM-dd' }}</td>
        <td style="text-align: right">{{ record.value.sub30 }}
          ({{ (record.value.sub30 * 100 / record.value.all) | number: '.0-2' }}%)
        </td>
        <td style="text-align: right">{{ record.value.all }} </td>
        <td style="text-align: right">{{ (record.value.sumOfAllTimes / record.value.all) | cubeRecordAsDate| date: 'mm:ss.SS' }} </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #detailedResultsTable>
  <div class="table-fix-head enable-vertical-scroll" [style.height.px]="resultsTableHeight">
    <table style="width: 100%;" class="table table-sm table-striped results-table">
      <thead>
      <tr>
        <th style="width: 175px;">Data wyniku</th>
        <th style="text-align: right; width: 50px;">Wynik</th>
        <th style="text-align: right; width: 50px;" *ngIf="movingAverageNumberOfElements < 5">
          Ao{{movingAverageNumberOfElements}}
        </th>
        <th style="text-align: right; width: 50px;">
          Ao5
        </th>
        <th style="text-align: right; width: 50px;" *ngIf="movingAverageNumberOfElements > 5">
          Ao{{movingAverageNumberOfElements}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of statsForSelectedCube">
        <td style="width: 175px;">{{ record.recordTime | localizedDate : 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td style="text-align: right; width: 50px;">{{ record.time | cubeRecordAsDate | date : 'mm:ss.SS' }}</td>
        <td style="text-align: right; width: 50px;" *ngIf="movingAverageNumberOfElements < 5">
          {{record.averages.get(movingAverageNumberOfElements) | date : 'mm:ss.SS' }}
        </td>
        <td style="text-align: right; width: 50px;">
          {{record.averages.get(5) | date : 'mm:ss.SS'}}
        </td>
        <td style="text-align: right; width: 50px;" *ngIf="movingAverageNumberOfElements > 5">
          {{record.averages.get(movingAverageNumberOfElements) | date : 'mm:ss.SS'}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #buttons>
  <div class="sg-flex-row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="cubeTypeDropdown" style="width: 100%" ngbDropdownToggle>
        {{ cubeTypeSettings.get(selectedCubeType)?.name }}
      </button>
      <div ngbDropdownMenu aria-labelledby="cubeTypeDropdown" style="width: 100%">
        <button *ngFor=" let cubeType of cubeTypesOrdered" (click)="selectedCubeType = cubeType"
                ngbDropdownItem>{{cubeTypeSettings.get(cubeType)?.name}}</button>
      </div>
    </div>
  </div>
  <div class="sg-flex-row">
    <button (click)="cubeRecordsChartType = 'RAW'"
            class="btn btn-outline-primary sg-flex-fill-available-space-evenly">
      Zwykły
    </button>
    <div ngbDropdown class="sg-flex-row sg-flex-fill-available-space-evenly">
      <button class="btn btn-outline-primary sg-flex-fill-available-space-evenly" id="movingAverageSettings"
              ngbDropdownToggle>Średnia ruchoma
      </button>
      <div ngbDropdownMenu aria-labelledby="movingAverageSettings">
        <div class="form-group">
          <label for="movingAverageElementsCount">Liczba elementów do średniej</label>
          <input [(ngModel)]="movingAverageNumberOfElements" type="number" class="form-control"
                 id="movingAverageElementsCount">
        </div>
        <button (click)="cubeRecordsChartType = 'MOVING_AVERAGE'"
                class="btn btn-outline-primary sg-flex-fill-available-space-evenly">
          Ustaw
        </button>
      </div>
    </div>
  </div>
</ng-template>
