<div  *ngIf="currentBilling" style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row">
    <a (click)="previous()">Previous</a>
    &nbsp;&nbsp;&nbsp;Billing {{currentBilling.name}} for {{ currentBilling.period | date:'yyyy-MM' }}&nbsp;&nbsp;&nbsp;
    <a (click)="next()">Next</a>
  </div>
  <div>
    Incomes:
    <div *ngFor="let income of currentBilling.incomes">
      <span>{{income}}</span>
    </div>
  </div>
  <div>
    Expenses:
    <div *ngFor="let expense of currentBilling.expenses">
      <span>{{expense}}</span>
    </div>
  </div>
</div>


<div *ngIf="!currentBilling">
  No billing available for current month. <a (click)="create()">Create.</a>
</div>
