<div *ngIf="billing" style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row">
    <app-billing-elements style="padding-right: 10px"
                          [title]="'Incomes'"
                          [billingPeriod]="billing"
                          [display]="'income'">

    </app-billing-elements>
    <app-billing-elements style="padding-left: 10px"
                          [title]="'Expenses'"
                          [billingPeriod]="billing"
                          [display]="'expense'">

    </app-billing-elements>
  </div>
</div>

<div *ngIf="!billing">
  <button (click)="create()">Create</button>
</div>
