<div class="creating-billing-element-main">
  <h5>Enter {{elementType}} details</h5>
  <form #createBillingElementForm="ngForm" class="needs-validation">

    <div class="form-group row">
      <label for="forAccount" class="col-sm-2 col-form-label">Account</label>
      <div class="col-sm-10">
        <select id="forAccount" name="forAccount" class="form-control"
                #forAccount="ngModel" [(ngModel)]="forAccountId" required ngbAutofocus>
          <option *ngFor="let account of userAccounts" [value]="account.id">{{account.name}}
            ({{account.currentBalance}} {{account.currency}})
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="forAccountId">
      <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-7">
          <input id="amount" name="amount" type="number" class="form-control"
                 #amount="ngModel"
                 [(ngModel)]="billingElement.amount"
                 min=0 required/>
        </div>
        <div class="form-control col-sm-2">
          <span>{{billingElement.currency}}</span>
        </div>
      </div>

      <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-7">
          <app-general-typeahead
            id="category"
            name="category"
            [inputClass]="'form-control'"
            [readonly]="null"
            [(ngModel)]="categoryId"
            [dataProvider]="categoriesForTypeAhead()"
            [idExtractor]="categoryIdExtractor"
            [tToString]="categoryToString"
            #category="ngModel"
            required>
          </app-general-typeahead>
        </div>
        <div class="form-control col-sm-2">
          <span>{{billingElement.currency}}</span>
        </div>
      </div>

      <div class="form-group row">
        <label for="dateOfElement" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input class="form-control" id="dateOfElement" name="dateOfElement" [(ngModel)]="elementDate"
                 #d="ngbDatepicker" (click)="d.toggle()" ngbDatepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        <textarea id="description" name="description" class="form-control"
                  #description="ngModel"
                  [(ngModel)]="billingElement.description">

        </textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="piggybank" class="col-sm-4 col-form-label">{{piggyBankAction()}} piggy bank</label>
        <div class="col-sm-8">
          <app-general-typeahead
            id="piggybank"
            name="piggybank"
            [inputClass]="'form-control'"
            [readonly]="null"
            [(ngModel)]="piggyBankId"
            [availableData]="piggyBanksForSelectedAccount"
            [dataProvider]="piggyBanksForTypeAhead()"
            [idExtractor]="piggyBankIdExtractor"
            [tToString]="piggyBankToString()"
            #piggybank="ngModel"
            required>
          </app-general-typeahead>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="button" class="btn btn-outline-dark"
                  [disabled]="amount?.errors?.required || !isAllowed()"
                  (click)="add()">
            Create
          </button>
          <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
