<ng-container *ngIf="viewMode === 'desktop'">
  <ng-container *ngTemplateOutlet="desktopVersion"></ng-container>
</ng-container>
<ng-container *ngIf="viewMode === 'mobile'">
  <ng-container *ngTemplateOutlet="mobileVersion"></ng-container>
</ng-container>

<ng-template #mobileVersion>
  <div style="height: 100%;">
    <div *ngIf="accountantSettings && !accountantSettings.company"
         style="width: 320px; height: 100%; margin: auto;">
      <ng-container *ngTemplateOutlet="mobileVersionOfAccountant"></ng-container>
    </div>
    <div *ngIf="accountantSettings && accountantSettings.company"
         style="width: 320px; height: 100%; margin: auto;">
      <ng-container *ngTemplateOutlet="companyLog"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #desktopVersion>
  <ng-container *ngIf="accountantSettings && !accountantSettings.company">
    <ng-container *ngTemplateOutlet="desktopVersionOfAccountant"></ng-container>
  </ng-container>
  <ng-container *ngIf="accountantSettings && accountantSettings.company">
    <ng-container *ngTemplateOutlet="companyLog"></ng-container>
  </ng-container>
</ng-template>

<ng-template #mobileVersionOfAccountant>
  <div class="sg-flex-row">
    <button *ngIf="mobileEditMode === 'display'" (click)="addIncome()"
            class="btn btn-outline-primary sg-flex-fill-available-space-evenly">
      Dodaj dochód
    </button>
    <button *ngIf="mobileEditMode === 'display'" (click)="addExpense()"
            class="btn btn-outline-primary sg-flex-fill-available-space-evenly">
      Dodaj wydatek
    </button>
  </div>
  <app-create-billing-element
    *ngIf="(mobileEditMode === 'create-expense' || mobileEditMode === 'create-income') && billingPeriodInfo && billingPeriodInfo.result"
    [elementType]="mobileEditMode === 'create-expense' ? 'expense' : 'income'"
    (editEvent)="createBillingPeriodElement($event[0], $event[1], $event[2])"
    style="height: 100%">
  </app-create-billing-element>
  <ng-container *ngIf="mobileEditMode==='display'">
    <ng-container *ngTemplateOutlet="stats"></ng-container>
  </ng-container>
</ng-template>

<ng-template #companyLog>
  <app-company-log
    [displayType]="viewMode"
    [services]="services"
    [clients]="clients"
    [clientPayments]="clientPayments"
    [allCurrencies]="allCurrencies"
    [performedServices]="performedServices"
    (onDateSelected)="fetchCompanyData($event)"
    (onPerformedServiceCreate)="createPerformedService($event)"
    (onPerformedServiceUpdate)="updatePerformedService($event)"
    (onPerformedServicePaymentCreate)="createPerformedServicePayment($event)"
    (onClientPaymentCreate)="createClientPayment($event)"
    (onClientPaymentUpdate)="updateClientPayment($event)">
  </app-company-log>
</ng-template>

<ng-template #desktopVersionOfAccountant>
  <div class="sg-flex-row sg-flex-justify-space-around sg-flex-wrap">
    <div class="sg-flex-column sg-flex-fill-available-space-evenly savings">
      <ng-container *ngTemplateOutlet="stats"></ng-container>
      <app-domain-accounts></app-domain-accounts>
    </div>
    <div class="sg-flex-column sg-flex-fill-available-space-evenly billing">
      <app-browse-billing-elements
        [billingPeriodInfo]="billingPeriodInfo"
        (dateSelected)="refreshData($event)"
        (finishBillingPeriod)="finishBillingPeriod($event)"
        (createBillingPeriod)="createBillingPeriod($event)"
        (createElementEvent)="createBillingPeriodElement($event[1], $event[2])"
        (updatePiggyBankEvent)="updatePiggyBank($event)"
      ></app-browse-billing-elements>

      <app-transactions-import class="sg-flex-fill-available-space-evenly billing"></app-transactions-import>
    </div>
    <app-piggy-banks
      [title]="'Skarbonki'"
      [adminMode]="false"
      [piggyBanks]="piggyBanks"
      (updateEvent)="updatePiggyBank($event)"
      class="sg-flex-fill-available-space-evenly piggy-banks"
      style="margin-left: 50px; margin-top: 50px;margin-right: 50px">
    </app-piggy-banks>
  </div>
</ng-template>

<ng-template #stats>
  <div class="sg-flex-column">
    <h5 style="text-align: center">{{'Podsumowanie'}}</h5>
    <app-currency-totals [title]="'Zgromadzone środki'"
                         [valuesLeft]="accounts"
                         style="margin-bottom: 10px"
    ></app-currency-totals>
    <app-currency-totals [title]="'Środki rozlokowane w skarbonkach'"
                         [valuesLeft]="piggyBanks"
                         style="margin-bottom: 10px"
    ></app-currency-totals>
    <app-currency-totals [title]="'Wolne środki'"
                         [valuesLeft]="accounts"
                         [valuesRight]="piggyBanks"
    ></app-currency-totals>
    <h5 style="text-align: center">Historyczne oszczędonści</h5>
    <app-multi-currency-total *ngFor="let date of historicalSavingDates"
                              [title]="(date | date : 'yyyy-MM') || ''"
                              [values]="historicalSavings.get(date) || null">
    </app-multi-currency-total>
    <app-multi-currency-total
      [title]="'Bieżące oszczędności'"
      [values]="savingsTotal">
    </app-multi-currency-total>
  </div>

</ng-template>
