<div class="sg-flex-column sg-flex-align-center">
  <div style="width: 320px">
    <app-accounts-grand-total
                              [title]="'Podsumowanie'"
                              [piggyBanks]="piggyBanks"
                              [accounts]="accounts"
                              [historicalSavings]="historicalSavings"
    >
    </app-accounts-grand-total>
    <app-create-billing-element *ngIf="mode === CREATE_EXPENSE" class="sg-flex-column"
                                [elementType]="'expense'"
                                [categories]="categories"
                                [userAccounts]="accounts"
                                [billingPeriod]="billingPeriod"
                                [piggyBanks]="piggyBanks"
                                (editEvent)="createElement($event[0], $event[1], $event[2])"
    >

    </app-create-billing-element>
    <button (click)="add()" class="btn btn-outline-primary" *ngIf="mode === DISPLAY">Dodaj wydatek</button>
  </div>
</div>
