@media (max-width: 639px) {
  .menu-element-small {
    display: block !important
  }

  .menu-element-normal {
    display: none !important
  }
}

@media (min-width: 640px) {
  .menu-element-small {
    display: none !important
  }

  .menu-element-normal {
    display: block !important
  }
}
