<div class="sg-flex-row sg-flex-justify-center">
  <div class="sg-flex-column">
    <h5 *ngIf="title" style="text-align: center">{{title}}</h5>
    <div (mouseleave)="setOverDomain(null, null)" *ngIf="isNonEditMode()" class="sg-flex-row sg-flex-justify-center">
      <table>
        <thead>
        <tr>
          <td>Nazwa</td>
          <td>Uczestnicy</td>
        </tr>
        </thead>
        <tr *ngFor="let domain of domains" #row (mouseenter)="setOverDomain(domain, row)"
            class="domain-row sg-row-hoverable">
          <td>{{domain.name}}</td>
          <td>
            <div *ngFor="let relation of domain.usersAccessLevel | keyvalue">
              {{relation.key}} - {{relation.value}}
            </div>
          </td>
        </tr>
      </table>
      <div #utilBox style="position: fixed;"
           [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
        <button (click)="prepareToGeneralEdit()" *ngIf="adminMode && isDomainAdmin" class="btn btn-primary btn-sm">
          Edytuj
        </button>
        <button (click)="prepareToInvitationEdit()" *ngIf="adminMode && isDomainAdmin" class="btn btn-primary btn-sm">
          Zaproś
        </button>
        <button (click)="leaveDomain()" *ngIf="!isDomainOnlyAdmin" class="btn btn-primary btn-sm">
          Wyjdź
        </button>
      </div>
    </div>

    <div *ngIf="editElement && (isGeneralEditMode() || isCreateEditMode())" class="form-group row">
      <label for="name" class="col-2 col-form-label">Nazwa</label>
      <div class="col-10">
        <input id="name" name="name" type="name" class="form-control"
               #name="ngModel"
               [(ngModel)]="editElement.name"
               required/>
      </div>
    </div>
    <div *ngIf="showDomainMembersToEdit()" class="form-group row">
      <label class="col-3 col-form-label">Członkowie domeny</label>
      <div class="col-9 sg-flex-column" style="padding-left: 5px">
        <div *ngFor="let member of editElement.usersAccessLevel | keyvalue" class="sg-flex-row">
          <div class="col-2">
            {{member.key}}
          </div>
          <div class="col-5">
            <label>Administrator
              <input type="checkbox" [checked]="member.value === 'ADMIN'" (change)="changeMemberAccess(member.key)">
            </label>
          </div>
          <div class="col-5">
            <button (click)="removeFromDomain(member.key)" class="btn btn-primary btn-sm">Usuń z
              domeny
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isInviteEditMode()">
      <div class="form-group sg-flex-row">
        <label for="userToInviteLogin" class="col-2 col-form-label">Nazwa</label>
        <div class="col-10">
          <input id="userToInviteLogin" name="userToInviteLogin" class="form-control"
                 [(ngModel)]="userToInviteLogin"
                 required/>
        </div>
      </div>
    </div>

    <div class="sg-flex-row sg-flex-justify-center">
      <button *ngIf="this.adminMode && isNonEditMode()" (click)="prepareToCreate()" class="btn btn-primary">Stwórz
      </button>
      <button *ngIf="isGeneralEditMode()" [disabled]="!canEdit()" (click)="update()" class="btn btn-primary">Zapisz
      </button>
      <button *ngIf="this.adminMode && isCreateEditMode()" [disabled]="!canCreate()" (click)="create()"
              class="btn btn-primary">Stwórz
      </button>
      <button *ngIf="isInviteEditMode()" (click)="invite()" [disabled]="userToInviteLogin === ''"
              class="btn btn-primary">
        Zaproś
      </button>
      <button *ngIf="!isNonEditMode()" (click)="resetEditForm()" class="btn btn-primary">Anuluj</button>
    </div>
  </div>

</div>
