<div *ngIf="!selectedPayment">
  <div *ngFor="let payment of paymentsToChoose" (click)="pickPayment(payment)" class="sg-row-hoverable">
    Z dnia {{payment.date | localizedDate}}
    pozostało {{payment.price - payment.getPaidAmountForNow() | currency: payment.currency}}
  </div>
</div>
<div *ngIf="selectedPayment">
  Z dnia {{selectedPayment.date | localizedDate}}
  pozostało {{selectedPayment.price - selectedPayment.getPaidAmountForNow() | currency: selectedPayment.currency}}
  <div class="form-group sg-flex-row">
    <label for="price" class="col-7 col-form-label">Kwota (max {{currentMax() | currency: selectedPayment.currency}}
      )</label>
    <input id="price" name="price" type="number" min=0 class="form-control col-5"
           #name="ngModel"
           [(ngModel)]="price"
           required/>
  </div>
  <div class="sg-flex-row sg-flex-justify-flex-end">
    <button (click)="createFullPSP()" *ngIf="currentMax() <= maxPrice" class="btn btn-link btn-sm">
      Opłać w całości
    </button>
    <button (click)="createPSP()" [disabled]="!canCreate()" class="btn btn-link btn-sm">
      Potwierdź
    </button>
    <button (click)="reset()" class="btn btn-link btn-sm">
      Wybierz inny
    </button>
  </div>
</div>
<button (click)="cancel()" class="btn btn-primary">Anuluj</button>
