<div *ngIf="account">
  <div (mouseleave)="setOverTransaction(null, null)">
    <table>
      <tr #row *ngFor="let transaction of transactionsOfSelectedAccount"
          (mouseenter)="setOverTransaction(transaction, row)">
        <td>{{transaction.timeOfTransaction | localizedDate:'y-MM-d'}}</td>
        <td>
          <span *ngIf="transaction.source.id === account.id">
            -{{transaction.debit}} {{transaction.source.currency}}
          </span>
          <span *ngIf="transaction.destination.id === account.id">
            {{transaction.credit}} {{transaction.destination.currency}}
          </span>
        </td>
        <td [innerHTML]="transaction.description | htmlNewLine" style="max-width: 300px"></td>
      </tr>
    </table>
  </div>

  <button (click)="openIncomeCreationDialog()">Income</button>
  <button (click)="openOutcomeCreationDialog()">Outcome</button>
  <button (click)="openTransferCreationDialog()">Transfer</button>

  <div #utilBox style="position: fixed;"
       [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
    <button (click)="openPredefinedTransferCreationDialog(buttonClicked())">
      Transfer
    </button>
  </div>
</div>
