<div *ngIf="account && !transferCreationMode">
  <div (mouseleave)="setOverTransaction(null, null)">
    <table>
      <tr #row *ngFor="let transaction of transactions"
          (mouseenter)="setOverTransaction(transaction, row)">
        <td>{{transaction.timeOfTransaction | localizedDate:'y-MM-d'}}</td>
        <td>
          <span *ngIf="transaction.source.id === account.id">
            -{{transaction.debit | currency: transaction.source.currency}}
          </span>
          <span *ngIf="transaction.destination.id === account.id">
            {{transaction.credit | currency: transaction.destination.currency}}
          </span>
        </td>
        <td [innerHTML]="transaction.description | htmlNewLine" style="max-width: 300px"></td>
      </tr>
    </table>
    <div #utilBox style="position: fixed;"
         [ngStyle]="{'top.px': utilBoxTop, 'left.px': utilBoxLeft, 'visibility': utilBoxVisibility}">
      <button (click)="openPredefinedTransferCreationDialog(buttonClicked())" class="btn btn-primary">
        Transfer wewnętrzny
      </button>
    </div>
  </div>

  <button (click)="openIncomeCreationDialog()" class="btn btn-primary">Uznanie</button>
  <button (click)="openExpenseCreationDialog()" class="btn btn-primary">Obciążenie</button>
  <button (click)="openTransferCreationDialog()" class="btn btn-primary">Transfer wewnętrzny</button>
</div>
<div *ngIf="account && transferCreationMode">
  <app-create-transaction
    [account]="account"
    [targetAccounts]="accountsToSelect"
    [transactionType]="creatingTransactionType"
    [amount]="creatingTransactionAmount"
    [description]="creatingTransactionFieldDescription"
    (finishSubject)="editCompleted($event)">
  </app-create-transaction>
</div>
