<div class="sg-flex-row">

  <div style="width: 50%;">
    <select [(ngModel)]="selectedCube">
      <option *ngFor=" let type of cubeTypes | keyvalue" [value]="type.key">{{type.value}}</option>
    </select>

    <div [hidden]="!visible">
      <canvas #rubiks width="1000"></canvas>
    </div>

    <div *ngIf="isThreeByThree() && turns">{{turns}}</div>

    <button *ngIf="isThreeByThree()" (click)="scramble()">Scramble</button>

    <sg-timer #timer></sg-timer>
    <button *ngIf="!timer.isRunning()" (click)="start()">Start</button>
    <button *ngIf="!timer.isRunning() && timer.committedTime" (click)="resume()">Resume</button>
    <button *ngIf="timer.isRunning()" (click)="stop()">Stop</button>
    <button *ngIf="!timer.isRunning() && timer.committedTime" (click)="save()">Zapisz</button>
    <button *ngIf="!timer.isRunning() && timer.committedTime" (click)="saveWithoutScramble()">Zapisz bez scrambla
    </button>
  </div>

  <div style="width: 50%;">
    <div>
      Najszybsze ułożenie {{min | date: 'mm:ss'}}
    </div>
    <div>
      Najwolniejsze ułożenie {{max | date: 'mm:ss'}}
    </div>
    <div>
      Średnia {{avg | date: 'mm:ss'}}
    </div>
    <div>
      Średnia z ostatnich {{movingAverageNumberOfElements}} elementów {{avgOfLastNElements | date: 'mm:ss'}}
    </div>
    <div class="flex-column">
      <div class="flex-row">
        <button (click)="cubeRecordsChartType = 'RAW'">Zwykły</button>
        <button (click)="cubeRecordsChartType = 'MOVING_AVERAGE'">Średnia ruchoma</button>
        <input [(ngModel)]="movingAverageNumberOfElements" />
      </div>
      <div style="width: 50%">
        <canvas baseChart #cubesRecordsChart='base-chart'
                [datasets]="cubeRecordsLineChart.lineChartData"
                [labels]="cubeRecordsLineChart.lineChartLabels"
                [options]="cubeRecordsLineChart.lineChartOptions"
                [colors]="cubeRecordsLineChart.lineChartColors"
                [legend]="cubeRecordsLineChart.lineChartLegend"
                [chartType]="cubeRecordsLineChart.lineChartType"
                [plugins]="cubeRecordsLineChart.lineChartPlugins">

        </canvas>
      </div>
    </div>
  </div>
</div>
