<div class="sg-flex-row">

  <div style="width: 50%;">
    <select [(ngModel)]="selectedCube">
      <option *ngFor=" let type of cubeTypes | keyvalue" [value]="type.key">{{type.value}}</option>
    </select>

    <div [hidden]="!visible">
      <canvas #rubiks width="1000"></canvas>
    </div>

    <div *ngIf="isThreeByThree() && turns">{{turns}}</div>

    <button *ngIf="isThreeByThree()" (click)="scramble()">Scramble</button>

    <sg-timer #timer></sg-timer>
    <button *ngIf="!timer.isRunning()" (click)="start()">Start</button>
    <button *ngIf="!timer.isRunning() && timer.committedTime" (click)="resume()">Resume</button>
    <button *ngIf="timer.isRunning()" (click)="stop()">Stop</button>
  </div>

  <div style="width: 50%;">
    <div>
      Najszybsze ułożenie {{min | date: 'mm:ss'}}
    </div>
    <div>
      Najwolniejsze ułożenie {{max | date: 'mm:ss'}}
    </div>
    <div>
      Średnia {{avg | date: 'mm:ss'}}
    </div>
    <div style="width: 50%">
      <canvas baseChart #savingsChart='base-chart'
              [datasets]="cubeRecordsLineChart.lineChartData"
              [labels]="cubeRecordsLineChart.lineChartLabels"
              [options]="cubeRecordsLineChart.lineChartOptions"
              [colors]="cubeRecordsLineChart.lineChartColors"
              [legend]="cubeRecordsLineChart.lineChartLegend"
              [chartType]="cubeRecordsLineChart.lineChartType"
              [plugins]="cubeRecordsLineChart.lineChartPlugins">

      </canvas>
    </div>
  </div>
</div>
